In [48]:
import pandas as pd
import numpy as np
import pyarrow 
import copilot

In [2]:
import seaborn as sns

### 1. Extracción de datos
Leer el archivo reservas_hoteles.parquet para obtener la información relevante de hoteles de la competencia.

In [3]:
df_eraw = pd.read_parquet('../data/reservas_hoteles.parquet')
df_eraw

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,estrellas,ciudad
0,5256cc90-139b-43d2-8ec5-412495d751cf,346f2a77-33f4-4b2d-82f3-e8501e21b28d,Feliciana,Cantón,feliciana.cantón@example.com,True,,2025-03-01,2025-03-02,113,NaN,,NaN,
1,84fd6209-bd8d-4a92-bfe6-c68ee2c49271,346f2a77-33f4-4b2d-82f3-e8501e21b28d,Leonardo,Hierro,leonardo.hierro@example.com,True,,2025-03-01,2025-03-02,194,NaN,,NaN,
2,40c4cb55-d1f5-407b-832f-4756b8ff77b4,6ec4d7d2-e382-47cc-94f6-c647577d4035,Maite,Calatayud,maite.calatayud@example.com,False,2025-02-09,2025-03-01,2025-03-02,14,119.96,Hotel Monte Verde,1.0,Madrid
3,f2ce8df5-7844-43e1-8c0f-97ce7a208f21,aed17fe8-eb18-4f69-bf08-df1afdc339c3,Tecla,Bonet,tecla.bonet@example.com,False,2025-02-08,2025-03-01,2025-03-02,38,211.53,Hotel Brisas del Mar,5.0,Madrid
4,57d4515a-447d-4067-afcb-9bdcf4e4e915,710a2fbb-264f-426a-aa66-f8fffd146a2d,Amílcar,Andrés,amílcar.andrés@example.com,False,2025-02-02,2025-03-01,2025-03-02,35,378.37,Hotel Camino del Sol,1.0,Madrid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15093,49c9a352-a260-46fb-9edc-a2c2d05fdfb9,cc50c0c1-a589-44b7-8a41-2c731d033f89,Victoriano,Miralles,victoriano.miralles@example.com,False,2025-02-02,2025-03-01,2025-03-02,36,367.65,Hotel Las Estrellas,3.0,Madrid
15094,f07370e3-feeb-4893-a9ff-4ec4fb518a55,2bf0215f-7f7b-4cfb-9a37-d2022c492410,Anacleto,Toledo,anacleto.toledo@example.com,False,2025-02-07,2025-03-01,2025-03-02,38,144.35,Gran Hotel Madrid,4.0,Madrid
15095,1d4b9293-1733-45ce-8a8e-79d3ac4694eb,4ba34638-c43e-455f-886d-b3e3dd223a07,Máxima,Mayoral,máxima.mayoral@example.com,False,2025-02-08,2025-03-01,2025-03-02,29,463.32,Hotel Jardines del Rey,2.0,Madrid
15096,d6823ca7-e236-48b1-bf68-6b88d9b6534a,a017cb9c-160b-4b90-b4a9-4bdb2dce546a,Rafa,Alcaraz,rafa.alcaraz@example.com,False,2025-02-10,2025-03-01,2025-03-02,15,247.63,Hotel Palacio Imperial,1.0,Madrid
15097,6b26f923-22b2-4de7-b1d5-bce158361dee,5842d91d-6ca2-4174-920b-8a2e1ca852ba,Eugenio,Quintero,eugenio.quintero@example.com,False,2025-02-06,2025-03-01,2025-03-02,28,433.87,Hotel Puerta del Cielo,4.0,Madrid

In [4]:
df = df_eraw.copy()

> Utilizamos el atributo df.columns en pandas para conocer el nombre de todas las columnas de una manera rápida

In [5]:
df.columns

Index(['id_reserva', 'id_cliente', 'nombre', 'apellido', 'mail', 'competencia',
       'fecha_reserva', 'inicio_estancia', 'final_estancia', 'id_hotel',
       'precio_noche', 'nombre_hotel', 'estrellas', 'ciudad'],
      dtype='object')

> Obtenemos toda la información del DataFrame para analizarlo

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15098 entries, 0 to 15097
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_reserva       15098 non-null  object
 1   id_cliente       15098 non-null  object
 2   nombre           15098 non-null  object
 3   apellido         15098 non-null  object
 4   mail             15098 non-null  object
 5   competencia      15098 non-null  bool
 6   fecha_reserva    15098 non-null  object
 7   inicio_estancia  15023 non-null  object
 8   final_estancia   15023 non-null  object
 9   id_hotel         15098 non-null  int64
 10  precio_noche     9874 non-null   float64
 11  nombre_hotel     15098 non-null  object
 12  estrellas        9926 non-null   float64
 13  ciudad           15098 non-null  object
dtypes: bool(1), float64(2), int64(1), object(10)
memory usage: 1.5+ MB

Análisis de la info

> Analisis descriptivo: Análisis estadístico básico, organizado en filas para facilitar la lectura, comparación y diagnóstico inicial de las columnas de un DataFrame.

In [7]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
id_hotel,15098.0,65.950192,57.832033,2.00,27.00,40.000,114.00,194.00
precio_noche,9874.0,275.117720,129.405972,50.01,163.12,273.315,387.83,499.82
estrellas,9926.0,3.012694,1.412446,1.00,2.00,3.000,4.00,5.00

INSIGHTS:

In [8]:
df_descriptivos_object = df.describe(include = "O").T
df_descriptivos_object

                 count unique                                   top   freq
id_reserva       15098  15000  029ee4ca-8ddf-49d3-a9b1-22729ebe00e2      2
id_cliente       15098  14847  8bec1ff1-84d7-4cad-937f-dbae37691569      3
nombre           15098    934                               Nazaret     41
apellido         15098   1085                               Giménez     26
mail             15098  14905        victoriano.ródenas@example.com      3
fecha_reserva    15098     13                                         5172
inicio_estancia  15023      1                            2025-03-01  15023
final_estancia   15023      1                            2025-03-02  15023
nombre_hotel     15098     20                                         5172
ciudad           15098      2                                Madrid   9926

> Ver el tamaño de una estructura de datos. Esto es de gran utilidad para verificar cuántos datos se cargaron desde un archivo.

In [9]:
df.shape

(15098, 14)

Pasamos a formato fecha todas las columnas de fechas que están en otros formatos.

In [10]:
def tran_data(lista_col, dataframe):
    for col in lista_col:
        dataframe[col] = pd.to_datetime(dataframe[col])
    return dataframe

In [11]:
col_fechas = ["fecha_reserva", "inicio_estancia", "final_estancia"]
df = tran_data(col_fechas, df)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15098 entries, 0 to 15097
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_reserva       15098 non-null  object
 1   id_cliente       15098 non-null  object
 2   nombre           15098 non-null  object
 3   apellido         15098 non-null  object
 4   mail             15098 non-null  object
 5   competencia      15098 non-null  bool
 6   fecha_reserva    9926 non-null   datetime64[ns]
 7   inicio_estancia  15023 non-null  datetime64[ns]
 8   final_estancia   15023 non-null  datetime64[ns]
 9   id_hotel         15098 non-null  int64
 10  precio_noche     9874 non-null   float64
 11  nombre_hotel     15098 non-null  object
 12  estrellas        9926 non-null   float64
 13  ciudad           15098 non-null  object
dtypes: bool(1), datetime64[ns](3), float64(2), int64(1), object(7)
memory usage: 1.5+ MB

In [12]:
df

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,estrellas,ciudad
0,5256cc90-139b-43d2-8ec5-412495d751cf,346f2a77-33f4-4b2d-82f3-e8501e21b28d,Feliciana,Cantón,feliciana.cantón@example.com,True,NaT,2025-03-01,2025-03-02,113,NaN,,NaN,
1,84fd6209-bd8d-4a92-bfe6-c68ee2c49271,346f2a77-33f4-4b2d-82f3-e8501e21b28d,Leonardo,Hierro,leonardo.hierro@example.com,True,NaT,2025-03-01,2025-03-02,194,NaN,,NaN,
2,40c4cb55-d1f5-407b-832f-4756b8ff77b4,6ec4d7d2-e382-47cc-94f6-c647577d4035,Maite,Calatayud,maite.calatayud@example.com,False,2025-02-09,2025-03-01,2025-03-02,14,119.96,Hotel Monte Verde,1.0,Madrid
3,f2ce8df5-7844-43e1-8c0f-97ce7a208f21,aed17fe8-eb18-4f69-bf08-df1afdc339c3,Tecla,Bonet,tecla.bonet@example.com,False,2025-02-08,2025-03-01,2025-03-02,38,211.53,Hotel Brisas del Mar,5.0,Madrid
4,57d4515a-447d-4067-afcb-9bdcf4e4e915,710a2fbb-264f-426a-aa66-f8fffd146a2d,Amílcar,Andrés,amílcar.andrés@example.com,False,2025-02-02,2025-03-01,2025-03-02,35,378.37,Hotel Camino del Sol,1.0,Madrid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15093,49c9a352-a260-46fb-9edc-a2c2d05fdfb9,cc50c0c1-a589-44b7-8a41-2c731d033f89,Victoriano,Miralles,victoriano.miralles@example.com,False,2025-02-02,2025-03-01,2025-03-02,36,367.65,Hotel Las Estrellas,3.0,Madrid
15094,f07370e3-feeb-4893-a9ff-4ec4fb518a55,2bf0215f-7f7b-4cfb-9a37-d2022c492410,Anacleto,Toledo,anacleto.toledo@example.com,False,2025-02-07,2025-03-01,2025-03-02,38,144.35,Gran Hotel Madrid,4.0,Madrid
15095,1d4b9293-1733-45ce-8a8e-79d3ac4694eb,4ba34638-c43e-455f-886d-b3e3dd223a07,Máxima,Mayoral,máxima.mayoral@example.com,False,2025-02-08,2025-03-01,2025-03-02,29,463.32,Hotel Jardines del Rey,2.0,Madrid
15096,d6823ca7-e236-48b1-bf68-6b88d9b6534a,a017cb9c-160b-4b90-b4a9-4bdb2dce546a,Rafa,Alcaraz,rafa.alcaraz@example.com,False,2025-02-10,2025-03-01,2025-03-02,15,247.63,Hotel Palacio Imperial,1.0,Madrid
15097,6b26f923-22b2-4de7-b1d5-bce158361dee,5842d91d-6ca2-4174-920b-8a2e1ca852ba,Eugenio,Quintero,eugenio.quintero@example.com,False,2025-02-06,2025-03-01,2025-03-02,28,433.87,Hotel Puerta del Cielo,4.0,Madrid

Vemos los hoteles únicos en base a si son competencia o no para saber cuántos hoteles tenemos nuestros y cuántos de la competencia (los que sacaremos del web scraping)

In [13]:
df_competencia = df[df["competencia"] == True].drop_duplicates(subset="id_hotel")
df_competencia

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,estrellas,ciudad
0,5256cc90-139b-43d2-8ec5-412495d751cf,346f2a77-33f4-4b2d-82f3-e8501e21b28d,Feliciana,Cantón,feliciana.cantón@example.com,True,NaT,2025-03-01,2025-03-02,113,NaN,,NaN,
1,84fd6209-bd8d-4a92-bfe6-c68ee2c49271,346f2a77-33f4-4b2d-82f3-e8501e21b28d,Leonardo,Hierro,leonardo.hierro@example.com,True,NaT,2025-03-01,2025-03-02,194,NaN,,NaN,
7,4d65096e-5f12-4ce7-9fd6-dd20e3cf5194,443a7307-2183-4051-b0bb-26f12fc1f478,Judith,Rivas,judith.rivas@example.com,True,NaT,2025-03-01,2025-03-02,131,NaN,,NaN,
9,458029ad-cc9b-4d85-8290-fec170bcc02d,e1a34338-a0aa-4b0e-96de-55f884eeb074,Adolfo,Cuervo,adolfo.cuervo@example.com,True,NaT,2025-03-01,2025-03-02,114,NaN,,NaN,
11,ac0fe86e-90a0-4fe6-a02e-6ea00e9a8621,2949fb90-39ab-4613-b4c1-e238bb56faf3,María Carmen,Navarro,maría carmen.navarro@example.com,True,NaT,2025-03-01,2025-03-02,103,NaN,,NaN,
12,8d2d3ea2-14bb-4762-a7a4-a44e75d2d2f4,6c104070-aad0-4372-a6dc-cd38a6f7c3cf,Ricardo,Caballero,ricardo.caballero@example.com,True,NaT,2025-03-01,2025-03-02,181,NaN,,NaN,
16,f4cf7cbf-7a2a-4e44-9b9d-e2c9a444ec78,b1826b3e-e9aa-4a40-b94a-09ad8e7d6507,Lázaro,Pardo,lázaro.pardo@example.com,True,NaT,2025-03-01,2025-03-02,128,NaN,,NaN,
31,4e4f9542-3b51-4da1-b75e-b8c8a2018b6e,85306c06-a7f1-4fdb-807e-66b2178e93c4,Angelina,Priego,angelina.priego@example.com,True,NaT,2025-03-01,2025-03-02,186,NaN,,NaN,
46,7acd5eae-e278-4568-9e35-638532e10b87,43ffdcc5-51b6-4eda-81f5-df2c1ed1adbe,María Belén,Escalona,maría belén.escalona@example.com,True,NaT,2025-03-01,2025-03-02,135,NaN,,NaN,
78,946c7d6c-9523-4056-bc05-4f25b7582202,de5abee1-33ee-421f-9ebd-1baaafafccf9,Rosalva,Cabañas,rosalva.cabañas@example.com,True,NaT,2025-03-01,2025-03-02,117,NaN,,NaN,

In [14]:
df_hoteles_nuestros = df[df["competencia"] == False].drop_duplicates(subset="id_hotel")
df_hoteles_nuestros

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,estrellas,ciudad
2,40c4cb55-d1f5-407b-832f-4756b8ff77b4,6ec4d7d2-e382-47cc-94f6-c647577d4035,Maite,Calatayud,maite.calatayud@example.com,False,2025-02-09,2025-03-01,2025-03-02,14,119.96,Hotel Monte Verde,1.0,Madrid
3,f2ce8df5-7844-43e1-8c0f-97ce7a208f21,aed17fe8-eb18-4f69-bf08-df1afdc339c3,Tecla,Bonet,tecla.bonet@example.com,False,2025-02-08,2025-03-01,2025-03-02,38,211.53,Hotel Brisas del Mar,5.0,Madrid
4,57d4515a-447d-4067-afcb-9bdcf4e4e915,710a2fbb-264f-426a-aa66-f8fffd146a2d,Amílcar,Andrés,amílcar.andrés@example.com,False,2025-02-02,2025-03-01,2025-03-02,35,378.37,Hotel Camino del Sol,1.0,Madrid
5,ccbd9fe9-5a60-4f6f-bed3-73a7158ecba7,df42ae3d-0b9b-4c06-b22e-939323833ef8,Joan,Vazquez,joan.vazquez@example.com,False,2025-02-08,2025-03-01,2025-03-02,36,85.45,Hotel Puerta del Cielo,5.0,Madrid
6,99c3dc4f-663c-45f7-849a-ac9313f3746a,a16a9d83-6888-4947-a7ab-ed41203e347c,Chelo,Flor,chelo.flor@example.com,False,2025-02-09,2025-03-01,2025-03-02,43,309.80,Hotel Encanto Real,1.0,Madrid
8,a5da0906-0fe5-4c30-b193-863df67a7b84,4b789497-8da4-4962-b0fa-070556648ed1,Dolores,Lobo,dolores.lobo@example.com,False,2025-02-10,2025-03-01,2025-03-02,6,434.88,Palacio del Sol,4.0,Madrid
10,3eca014e-f122-41d7-9dd3-b984b9153d57,dbaadb0e-a0ff-436e-9b10-c697fb90b720,Noé,Lobo,noé.lobo@example.com,False,2025-02-02,2025-03-01,2025-03-02,3,216.57,Hotel Jardines del Rey,3.0,Madrid
13,8a68fb77-8798-4902-a92d-642ea5e47083,26ca67cd-3762-4f90-9372-c5f3d49df733,Omar,Lamas,omar.lamas@example.com,False,2025-02-10,2025-03-01,2025-03-02,29,378.10,Hotel Las Estrellas,4.0,Madrid
15,5e3de36b-3d2f-4cef-98d3-df826c56a4b1,a263c6e8-96af-4720-96f0-04cfe51116c6,Ágata,Pinedo,ágata.pinedo@example.com,False,2025-02-01,2025-03-01,2025-03-02,47,358.07,Gran Hotel Madrid,2.0,Madrid
18,96a3727c-99fb-4ae0-a6c3-886504499ec2,7164885d-7481-40cc-9aa7-025264d00798,Javier,Mancebo,javier.mancebo@example.com,False,2025-02-12,2025-03-01,2025-03-02,27,228.02,Hotel Palacio Imperial,2.0,Madrid
20,9880f3ea-a29d-4acd-9fe1-96df1ffa46bd,38949903-64ff-48df-a57c-b589d98cc372,Ricardo,Lobo,ricardo.lobo@example.com,False,2025-02-06,2025-03-01,2025-03-02,13,454.01,Hotel Luz de Madrid,3.0,Madrid
21,22a3608a-1de2-40c7-8e2a-d22daf77390f,8d24ffd5-1a06-4991-8d0b-143305a376ad,Perlita,Patiño,perlita.patiño@example.com,False,2025-02-02,2025-03-01,2025-03-02,28,279.28,Hotel Encanto Real,1.0,Madrid
27,24f9a853-2cef-4fb7-8182-d4f347c772d7,90aedc6a-5f21-4a25-9e55-b6552a657437,Pía,Barba,pía.barba@example.com,False,2025-02-03,2025-03-01,2025-03-02,40,460.67,Hotel Puerta del Cielo,5.0,Madrid
36,728efa5a-8a5a-4e53-8b2b-349c4fcab5d9,05cc4ab5-046c-4060-accd-e2e52ad83aa5,Emiliano,Vergara,emiliano.vergara@example.com,False,2025-02-06,2025-03-01,2025-03-02,2,370.82,Hotel Luz de Madrid,3.0,Madrid
38,166f113f-64cf-408d-b1c3-30ef155f8049,d0de4a2b-eb08-4dc6-aa8d-1efd2f007539,Ezequiel,Cuesta,ezequiel.cuesta@example.com,False,2025-02-10,2025-03-01,2025-03-02,48,314.73,Hotel Costa Azul,5.0,Madrid
58,2af9827a-93df-4f5e-ac7d-bdda0c84ed31,a7fd5407-dcf1-477c-bda7-1da829bf2410,Úrsula,Font,úrsula.font@example.com,False,2025-02-09,2025-03-01,2025-03-02,15,147.96,Gran Hotel Madrid,5.0,Madrid
65,55d863f5-efd2-47ee-b047-b786c056ccef,425b8a65-7ac1-4f65-8e27-b78f19558e03,Amílcar,Murillo,amílcar.murillo@example.com,False,2025-02-01,2025-03-01,2025-03-02,33,470.61,Hotel Jardines del Rey,3.0,Madrid
80,692a26ac-4f64-4e7d-aeb9-3c0ab9225d8d,b4ec2515-0daa-466a-a6fe-ea94d90aa87c,Ángeles,Guzmán,ángeles.guzmán@example.com,False,2025-02-02,2025-03-01,2025-03-02,49,298.25,Hotel Los Almendros,5.0,Madrid
113,fe3a68d9-f2ea-4af4-9512-5d890ed26aa2,edd27e59-3455-4923-800a-1e8fc7128346,Teo,Lloret,teo.lloret@example.com,False,2025-02-01,2025-03-01,2025-03-02,19,185.42,Hotel Camino del Sol,1.0,Madrid

### Nulos

Vamos a estudiar cómo son los nulos para ver cómo trabajamos con ellos.

In [15]:
df

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,estrellas,ciudad
0,5256cc90-139b-43d2-8ec5-412495d751cf,346f2a77-33f4-4b2d-82f3-e8501e21b28d,Feliciana,Cantón,feliciana.cantón@example.com,True,NaT,2025-03-01,2025-03-02,113,NaN,,NaN,
1,84fd6209-bd8d-4a92-bfe6-c68ee2c49271,346f2a77-33f4-4b2d-82f3-e8501e21b28d,Leonardo,Hierro,leonardo.hierro@example.com,True,NaT,2025-03-01,2025-03-02,194,NaN,,NaN,
2,40c4cb55-d1f5-407b-832f-4756b8ff77b4,6ec4d7d2-e382-47cc-94f6-c647577d4035,Maite,Calatayud,maite.calatayud@example.com,False,2025-02-09,2025-03-01,2025-03-02,14,119.96,Hotel Monte Verde,1.0,Madrid
3,f2ce8df5-7844-43e1-8c0f-97ce7a208f21,aed17fe8-eb18-4f69-bf08-df1afdc339c3,Tecla,Bonet,tecla.bonet@example.com,False,2025-02-08,2025-03-01,2025-03-02,38,211.53,Hotel Brisas del Mar,5.0,Madrid
4,57d4515a-447d-4067-afcb-9bdcf4e4e915,710a2fbb-264f-426a-aa66-f8fffd146a2d,Amílcar,Andrés,amílcar.andrés@example.com,False,2025-02-02,2025-03-01,2025-03-02,35,378.37,Hotel Camino del Sol,1.0,Madrid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15093,49c9a352-a260-46fb-9edc-a2c2d05fdfb9,cc50c0c1-a589-44b7-8a41-2c731d033f89,Victoriano,Miralles,victoriano.miralles@example.com,False,2025-02-02,2025-03-01,2025-03-02,36,367.65,Hotel Las Estrellas,3.0,Madrid
15094,f07370e3-feeb-4893-a9ff-4ec4fb518a55,2bf0215f-7f7b-4cfb-9a37-d2022c492410,Anacleto,Toledo,anacleto.toledo@example.com,False,2025-02-07,2025-03-01,2025-03-02,38,144.35,Gran Hotel Madrid,4.0,Madrid
15095,1d4b9293-1733-45ce-8a8e-79d3ac4694eb,4ba34638-c43e-455f-886d-b3e3dd223a07,Máxima,Mayoral,máxima.mayoral@example.com,False,2025-02-08,2025-03-01,2025-03-02,29,463.32,Hotel Jardines del Rey,2.0,Madrid
15096,d6823ca7-e236-48b1-bf68-6b88d9b6534a,a017cb9c-160b-4b90-b4a9-4bdb2dce546a,Rafa,Alcaraz,rafa.alcaraz@example.com,False,2025-02-10,2025-03-01,2025-03-02,15,247.63,Hotel Palacio Imperial,1.0,Madrid
15097,6b26f923-22b2-4de7-b1d5-bce158361dee,5842d91d-6ca2-4174-920b-8a2e1ca852ba,Eugenio,Quintero,eugenio.quintero@example.com,False,2025-02-06,2025-03-01,2025-03-02,28,433.87,Hotel Puerta del Cielo,4.0,Madrid

In [16]:
#Para las fechas de entrada y salida, podemos rellenar toda la columna con la misma fecha ya que son todas iguales.
fecha_reemplazo = "2025-03-01"

df["inicio_estancia"] = df["inicio_estancia"].replace("", None)  # Reemplazar cadenas vacías con None (nulos)
df["inicio_estancia"] = df["inicio_estancia"].fillna(fecha_reemplazo)

# ✅ Convertir la columna a tipo datetime
df["inicio_estancia"] = pd.to_datetime(df["inicio_estancia"])
df["inicio_estancia"].nunique()

1

In [17]:
fecha_reemplazo1 = "2025-03-02"

df["final_estancia"] = df["final_estancia"].replace("", None)  # Reemplazar cadenas vacías con None (nulos)
df["final_estancia"] = df["final_estancia"].fillna(fecha_reemplazo1)

# ✅ Convertir la columna a tipo datetime
df["final_estancia"] = pd.to_datetime(df["final_estancia"])
df["final_estancia"].nunique()

1

In [18]:
df

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,estrellas,ciudad
0,5256cc90-139b-43d2-8ec5-412495d751cf,346f2a77-33f4-4b2d-82f3-e8501e21b28d,Feliciana,Cantón,feliciana.cantón@example.com,True,NaT,2025-03-01,2025-03-02,113,NaN,,NaN,
1,84fd6209-bd8d-4a92-bfe6-c68ee2c49271,346f2a77-33f4-4b2d-82f3-e8501e21b28d,Leonardo,Hierro,leonardo.hierro@example.com,True,NaT,2025-03-01,2025-03-02,194,NaN,,NaN,
2,40c4cb55-d1f5-407b-832f-4756b8ff77b4,6ec4d7d2-e382-47cc-94f6-c647577d4035,Maite,Calatayud,maite.calatayud@example.com,False,2025-02-09,2025-03-01,2025-03-02,14,119.96,Hotel Monte Verde,1.0,Madrid
3,f2ce8df5-7844-43e1-8c0f-97ce7a208f21,aed17fe8-eb18-4f69-bf08-df1afdc339c3,Tecla,Bonet,tecla.bonet@example.com,False,2025-02-08,2025-03-01,2025-03-02,38,211.53,Hotel Brisas del Mar,5.0,Madrid
4,57d4515a-447d-4067-afcb-9bdcf4e4e915,710a2fbb-264f-426a-aa66-f8fffd146a2d,Amílcar,Andrés,amílcar.andrés@example.com,False,2025-02-02,2025-03-01,2025-03-02,35,378.37,Hotel Camino del Sol,1.0,Madrid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15093,49c9a352-a260-46fb-9edc-a2c2d05fdfb9,cc50c0c1-a589-44b7-8a41-2c731d033f89,Victoriano,Miralles,victoriano.miralles@example.com,False,2025-02-02,2025-03-01,2025-03-02,36,367.65,Hotel Las Estrellas,3.0,Madrid
15094,f07370e3-feeb-4893-a9ff-4ec4fb518a55,2bf0215f-7f7b-4cfb-9a37-d2022c492410,Anacleto,Toledo,anacleto.toledo@example.com,False,2025-02-07,2025-03-01,2025-03-02,38,144.35,Gran Hotel Madrid,4.0,Madrid
15095,1d4b9293-1733-45ce-8a8e-79d3ac4694eb,4ba34638-c43e-455f-886d-b3e3dd223a07,Máxima,Mayoral,máxima.mayoral@example.com,False,2025-02-08,2025-03-01,2025-03-02,29,463.32,Hotel Jardines del Rey,2.0,Madrid
15096,d6823ca7-e236-48b1-bf68-6b88d9b6534a,a017cb9c-160b-4b90-b4a9-4bdb2dce546a,Rafa,Alcaraz,rafa.alcaraz@example.com,False,2025-02-10,2025-03-01,2025-03-02,15,247.63,Hotel Palacio Imperial,1.0,Madrid
15097,6b26f923-22b2-4de7-b1d5-bce158361dee,5842d91d-6ca2-4174-920b-8a2e1ca852ba,Eugenio,Quintero,eugenio.quintero@example.com,False,2025-02-06,2025-03-01,2025-03-02,28,433.87,Hotel Puerta del Cielo,4.0,Madrid

In [30]:
#Para organizar los ID de hoteles, vamos a coger cada email y generar un número de ID.

df["id"] = pd.factorize(df["mail"])[0] + 1  # Agregamos 1 para que empiece desde 1

In [39]:
df_mails_unicos = df.drop_duplicates(subset=["mail"])
df_mails_unicos.head()

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,estrellas,ciudad,id
0,5256cc90-139b-43d2-8ec5-412495d751cf,346f2a77-33f4-4b2d-82f3-e8501e21b28d,Feliciana,Cantón,feliciana.cantón@example.com,True,NaT,2025-03-01,2025-03-02,113,NaN,,NaN,,1
1,84fd6209-bd8d-4a92-bfe6-c68ee2c49271,346f2a77-33f4-4b2d-82f3-e8501e21b28d,Leonardo,Hierro,leonardo.hierro@example.com,True,NaT,2025-03-01,2025-03-02,194,NaN,,NaN,,2
2,40c4cb55-d1f5-407b-832f-4756b8ff77b4,6ec4d7d2-e382-47cc-94f6-c647577d4035,Maite,Calatayud,maite.calatayud@example.com,False,2025-02-09,2025-03-01,2025-03-02,14,119.96,Hotel Monte Verde,1.0,Madrid,3
3,f2ce8df5-7844-43e1-8c0f-97ce7a208f21,aed17fe8-eb18-4f69-bf08-df1afdc339c3,Tecla,Bonet,tecla.bonet@example.com,False,2025-02-08,2025-03-01,2025-03-02,38,211.53,Hotel Brisas del Mar,5.0,Madrid,4
4,57d4515a-447d-4067-afcb-9bdcf4e4e915,710a2fbb-264f-426a-aa66-f8fffd146a2d,Amílcar,Andrés,amílcar.andrés@example.com,False,2025-02-02,2025-03-01,2025-03-02,35,378.37,Hotel Camino del Sol,1.0,Madrid,5

In [31]:
df["mail"].nunique()

14905

In [27]:
#Rellenamos los valores nulos de las fecha_reserva. Para ello revisamos si todos los valores que están incompletos son de la competencia.
df_hoteles_nuestros

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,estrellas,ciudad
2,40c4cb55-d1f5-407b-832f-4756b8ff77b4,6ec4d7d2-e382-47cc-94f6-c647577d4035,Maite,Calatayud,maite.calatayud@example.com,False,2025-02-09,2025-03-01,2025-03-02,14,119.96,Hotel Monte Verde,1.0,Madrid
3,f2ce8df5-7844-43e1-8c0f-97ce7a208f21,aed17fe8-eb18-4f69-bf08-df1afdc339c3,Tecla,Bonet,tecla.bonet@example.com,False,2025-02-08,2025-03-01,2025-03-02,38,211.53,Hotel Brisas del Mar,5.0,Madrid
4,57d4515a-447d-4067-afcb-9bdcf4e4e915,710a2fbb-264f-426a-aa66-f8fffd146a2d,Amílcar,Andrés,amílcar.andrés@example.com,False,2025-02-02,2025-03-01,2025-03-02,35,378.37,Hotel Camino del Sol,1.0,Madrid
5,ccbd9fe9-5a60-4f6f-bed3-73a7158ecba7,df42ae3d-0b9b-4c06-b22e-939323833ef8,Joan,Vazquez,joan.vazquez@example.com,False,2025-02-08,2025-03-01,2025-03-02,36,85.45,Hotel Puerta del Cielo,5.0,Madrid
6,99c3dc4f-663c-45f7-849a-ac9313f3746a,a16a9d83-6888-4947-a7ab-ed41203e347c,Chelo,Flor,chelo.flor@example.com,False,2025-02-09,2025-03-01,2025-03-02,43,309.80,Hotel Encanto Real,1.0,Madrid
8,a5da0906-0fe5-4c30-b193-863df67a7b84,4b789497-8da4-4962-b0fa-070556648ed1,Dolores,Lobo,dolores.lobo@example.com,False,2025-02-10,2025-03-01,2025-03-02,6,434.88,Palacio del Sol,4.0,Madrid
10,3eca014e-f122-41d7-9dd3-b984b9153d57,dbaadb0e-a0ff-436e-9b10-c697fb90b720,Noé,Lobo,noé.lobo@example.com,False,2025-02-02,2025-03-01,2025-03-02,3,216.57,Hotel Jardines del Rey,3.0,Madrid
13,8a68fb77-8798-4902-a92d-642ea5e47083,26ca67cd-3762-4f90-9372-c5f3d49df733,Omar,Lamas,omar.lamas@example.com,False,2025-02-10,2025-03-01,2025-03-02,29,378.10,Hotel Las Estrellas,4.0,Madrid
15,5e3de36b-3d2f-4cef-98d3-df826c56a4b1,a263c6e8-96af-4720-96f0-04cfe51116c6,Ágata,Pinedo,ágata.pinedo@example.com,False,2025-02-01,2025-03-01,2025-03-02,47,358.07,Gran Hotel Madrid,2.0,Madrid
18,96a3727c-99fb-4ae0-a6c3-886504499ec2,7164885d-7481-40cc-9aa7-025264d00798,Javier,Mancebo,javier.mancebo@example.com,False,2025-02-12,2025-03-01,2025-03-02,27,228.02,Hotel Palacio Imperial,2.0,Madrid
20,9880f3ea-a29d-4acd-9fe1-96df1ffa46bd,38949903-64ff-48df-a57c-b589d98cc372,Ricardo,Lobo,ricardo.lobo@example.com,False,2025-02-06,2025-03-01,2025-03-02,13,454.01,Hotel Luz de Madrid,3.0,Madrid
21,22a3608a-1de2-40c7-8e2a-d22daf77390f,8d24ffd5-1a06-4991-8d0b-143305a376ad,Perlita,Patiño,perlita.patiño@example.com,False,2025-02-02,2025-03-01,2025-03-02,28,279.28,Hotel Encanto Real,1.0,Madrid
27,24f9a853-2cef-4fb7-8182-d4f347c772d7,90aedc6a-5f21-4a25-9e55-b6552a657437,Pía,Barba,pía.barba@example.com,False,2025-02-03,2025-03-01,2025-03-02,40,460.67,Hotel Puerta del Cielo,5.0,Madrid
36,728efa5a-8a5a-4e53-8b2b-349c4fcab5d9,05cc4ab5-046c-4060-accd-e2e52ad83aa5,Emiliano,Vergara,emiliano.vergara@example.com,False,2025-02-06,2025-03-01,2025-03-02,2,370.82,Hotel Luz de Madrid,3.0,Madrid
38,166f113f-64cf-408d-b1c3-30ef155f8049,d0de4a2b-eb08-4dc6-aa8d-1efd2f007539,Ezequiel,Cuesta,ezequiel.cuesta@example.com,False,2025-02-10,2025-03-01,2025-03-02,48,314.73,Hotel Costa Azul,5.0,Madrid
58,2af9827a-93df-4f5e-ac7d-bdda0c84ed31,a7fd5407-dcf1-477c-bda7-1da829bf2410,Úrsula,Font,úrsula.font@example.com,False,2025-02-09,2025-03-01,2025-03-02,15,147.96,Gran Hotel Madrid,5.0,Madrid
65,55d863f5-efd2-47ee-b047-b786c056ccef,425b8a65-7ac1-4f65-8e27-b78f19558e03,Amílcar,Murillo,amílcar.murillo@example.com,False,2025-02-01,2025-03-01,2025-03-02,33,470.61,Hotel Jardines del Rey,3.0,Madrid
80,692a26ac-4f64-4e7d-aeb9-3c0ab9225d8d,b4ec2515-0daa-466a-a6fe-ea94d90aa87c,Ángeles,Guzmán,ángeles.guzmán@example.com,False,2025-02-02,2025-03-01,2025-03-02,49,298.25,Hotel Los Almendros,5.0,Madrid
113,fe3a68d9-f2ea-4af4-9512-5d890ed26aa2,edd27e59-3455-4923-800a-1e8fc7128346,Teo,Lloret,teo.lloret@example.com,False,2025-02-01,2025-03-01,2025-03-02,19,185.42,Hotel Camino del Sol,1.0,Madrid

In [40]:
fecha_reserva = "2025-02-19"

df["fecha_reserva"] = df["fecha_reserva"].replace("", None) #Reemplazar celdas vacías por nulos.
df["fecha_reserva"] = df["fecha_reserva"].fillna(fecha_reserva)
df["fecha_reserva"] = pd.to_datetime(df["fecha_reserva"])

In [42]:
df_competencia = df[df["competencia"] == True].drop_duplicates(subset="id_hotel")
df_competencia

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,estrellas,ciudad,id
0,5256cc90-139b-43d2-8ec5-412495d751cf,346f2a77-33f4-4b2d-82f3-e8501e21b28d,Feliciana,Cantón,feliciana.cantón@example.com,True,2025-02-19,2025-03-01,2025-03-02,113,NaN,,NaN,,1
1,84fd6209-bd8d-4a92-bfe6-c68ee2c49271,346f2a77-33f4-4b2d-82f3-e8501e21b28d,Leonardo,Hierro,leonardo.hierro@example.com,True,2025-02-19,2025-03-01,2025-03-02,194,NaN,,NaN,,2
7,4d65096e-5f12-4ce7-9fd6-dd20e3cf5194,443a7307-2183-4051-b0bb-26f12fc1f478,Judith,Rivas,judith.rivas@example.com,True,2025-02-19,2025-03-01,2025-03-02,131,NaN,,NaN,,8
9,458029ad-cc9b-4d85-8290-fec170bcc02d,e1a34338-a0aa-4b0e-96de-55f884eeb074,Adolfo,Cuervo,adolfo.cuervo@example.com,True,2025-02-19,2025-03-01,2025-03-02,114,NaN,,NaN,,10
11,ac0fe86e-90a0-4fe6-a02e-6ea00e9a8621,2949fb90-39ab-4613-b4c1-e238bb56faf3,María Carmen,Navarro,maría carmen.navarro@example.com,True,2025-02-19,2025-03-01,2025-03-02,103,NaN,,NaN,,12
12,8d2d3ea2-14bb-4762-a7a4-a44e75d2d2f4,6c104070-aad0-4372-a6dc-cd38a6f7c3cf,Ricardo,Caballero,ricardo.caballero@example.com,True,2025-02-19,2025-03-01,2025-03-02,181,NaN,,NaN,,13
16,f4cf7cbf-7a2a-4e44-9b9d-e2c9a444ec78,b1826b3e-e9aa-4a40-b94a-09ad8e7d6507,Lázaro,Pardo,lázaro.pardo@example.com,True,2025-02-19,2025-03-01,2025-03-02,128,NaN,,NaN,,17
31,4e4f9542-3b51-4da1-b75e-b8c8a2018b6e,85306c06-a7f1-4fdb-807e-66b2178e93c4,Angelina,Priego,angelina.priego@example.com,True,2025-02-19,2025-03-01,2025-03-02,186,NaN,,NaN,,32
46,7acd5eae-e278-4568-9e35-638532e10b87,43ffdcc5-51b6-4eda-81f5-df2c1ed1adbe,María Belén,Escalona,maría belén.escalona@example.com,True,2025-02-19,2025-03-01,2025-03-02,135,NaN,,NaN,,47
78,946c7d6c-9523-4056-bc05-4f25b7582202,de5abee1-33ee-421f-9ebd-1baaafafccf9,Rosalva,Cabañas,rosalva.cabañas@example.com,True,2025-02-19,2025-03-01,2025-03-02,117,NaN,,NaN,,79

In [ ]:
df.drop(["id_hotel"])

KeyError: "['id_hotel'] not found in axis"

In [47]:
df_competencia["id_hotel"]

0     113
1     194
7     131
9     114
11    103
12    181
16    128
31    186
46    135
78    117
Name: id_hotel, dtype: int64

In [45]:
df.to_parquet("../data/limpieza_reservas_hoteles.parquet", index=False)

In [50]:
#Vamos a filtrar por los precio_noche que estén vacíos

df["id"].nunique()

14905