In [1]:
import pandas as pd
import numpy as np
import pyarrow 
import seaborn as sns

### 1. Extracción de datos
Leer el archivo reservas_hoteles.parquet para obtener la información relevante de hoteles de la competencia.

In [2]:
df_eraw = pd.read_parquet('../data/reservas_hoteles.parquet')
df_eraw

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,estrellas,ciudad
0,5256cc90-139b-43d2-8ec5-412495d751cf,346f2a77-33f4-4b2d-82f3-e8501e21b28d,Feliciana,Cantón,feliciana.cantón@example.com,True,,2025-03-01,2025-03-02,113,NaN,,NaN,
1,84fd6209-bd8d-4a92-bfe6-c68ee2c49271,346f2a77-33f4-4b2d-82f3-e8501e21b28d,Leonardo,Hierro,leonardo.hierro@example.com,True,,2025-03-01,2025-03-02,194,NaN,,NaN,
2,40c4cb55-d1f5-407b-832f-4756b8ff77b4,6ec4d7d2-e382-47cc-94f6-c647577d4035,Maite,Calatayud,maite.calatayud@example.com,False,2025-02-09,2025-03-01,2025-03-02,14,119.96,Hotel Monte Verde,1.0,Madrid
3,f2ce8df5-7844-43e1-8c0f-97ce7a208f21,aed17fe8-eb18-4f69-bf08-df1afdc339c3,Tecla,Bonet,tecla.bonet@example.com,False,2025-02-08,2025-03-01,2025-03-02,38,211.53,Hotel Brisas del Mar,5.0,Madrid
4,57d4515a-447d-4067-afcb-9bdcf4e4e915,710a2fbb-264f-426a-aa66-f8fffd146a2d,Amílcar,Andrés,amílcar.andrés@example.com,False,2025-02-02,2025-03-01,2025-03-02,35,378.37,Hotel Camino del Sol,1.0,Madrid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15093,49c9a352-a260-46fb-9edc-a2c2d05fdfb9,cc50c0c1-a589-44b7-8a41-2c731d033f89,Victoriano,Miralles,victoriano.miralles@example.com,False,2025-02-02,2025-03-01,2025-03-02,36,367.65,Hotel Las Estrellas,3.0,Madrid
15094,f07370e3-feeb-4893-a9ff-4ec4fb518a55,2bf0215f-7f7b-4cfb-9a37-d2022c492410,Anacleto,Toledo,anacleto.toledo@example.com,False,2025-02-07,2025-03-01,2025-03-02,38,144.35,Gran Hotel Madrid,4.0,Madrid
15095,1d4b9293-1733-45ce-8a8e-79d3ac4694eb,4ba34638-c43e-455f-886d-b3e3dd223a07,Máxima,Mayoral,máxima.mayoral@example.com,False,2025-02-08,2025-03-01,2025-03-02,29,463.32,Hotel Jardines del Rey,2.0,Madrid
15096,d6823ca7-e236-48b1-bf68-6b88d9b6534a,a017cb9c-160b-4b90-b4a9-4bdb2dce546a,Rafa,Alcaraz,rafa.alcaraz@example.com,False,2025-02-10,2025-03-01,2025-03-02,15,247.63,Hotel Palacio Imperial,1.0,Madrid
15097,6b26f923-22b2-4de7-b1d5-bce158361dee,5842d91d-6ca2-4174-920b-8a2e1ca852ba,Eugenio,Quintero,eugenio.quintero@example.com,False,2025-02-06,2025-03-01,2025-03-02,28,433.87,Hotel Puerta del Cielo,4.0,Madrid

In [3]:
df = df_eraw.copy()

> Utilizamos el atributo df.columns en pandas para conocer el nombre de todas las columnas de una manera rápida

In [4]:
df.columns

Index(['id_reserva', 'id_cliente', 'nombre', 'apellido', 'mail', 'competencia',
       'fecha_reserva', 'inicio_estancia', 'final_estancia', 'id_hotel',
       'precio_noche', 'nombre_hotel', 'estrellas', 'ciudad'],
      dtype='object')

> Obtenemos toda la información del DataFrame para analizarlo

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15098 entries, 0 to 15097
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_reserva       15098 non-null  object
 1   id_cliente       15098 non-null  object
 2   nombre           15098 non-null  object
 3   apellido         15098 non-null  object
 4   mail             15098 non-null  object
 5   competencia      15098 non-null  bool
 6   fecha_reserva    15098 non-null  object
 7   inicio_estancia  15023 non-null  object
 8   final_estancia   15023 non-null  object
 9   id_hotel         15098 non-null  int64
 10  precio_noche     9874 non-null   float64
 11  nombre_hotel     15098 non-null  object
 12  estrellas        9926 non-null   float64
 13  ciudad           15098 non-null  object
dtypes: bool(1), float64(2), int64(1), object(10)
memory usage: 1.5+ MB

Pasamos a formato fecha todas las columnas de fechas que están en otros formatos.

In [6]:
def tran_data(lista_col, dataframe):
    for col in lista_col:
        dataframe[col] = pd.to_datetime(dataframe[col])
    return dataframe

In [7]:
col_fechas = ["fecha_reserva", "inicio_estancia", "final_estancia"]
df = tran_data(col_fechas, df)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15098 entries, 0 to 15097
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_reserva       15098 non-null  object
 1   id_cliente       15098 non-null  object
 2   nombre           15098 non-null  object
 3   apellido         15098 non-null  object
 4   mail             15098 non-null  object
 5   competencia      15098 non-null  bool
 6   fecha_reserva    9926 non-null   datetime64[ns]
 7   inicio_estancia  15023 non-null  datetime64[ns]
 8   final_estancia   15023 non-null  datetime64[ns]
 9   id_hotel         15098 non-null  int64
 10  precio_noche     9874 non-null   float64
 11  nombre_hotel     15098 non-null  object
 12  estrellas        9926 non-null   float64
 13  ciudad           15098 non-null  object
dtypes: bool(1), datetime64[ns](3), float64(2), int64(1), object(7)
memory usage: 1.5+ MB

Vemos los hoteles únicos en base a si son competencia o no para saber cuántos hoteles tenemos nuestros y cuántos de la competencia (los que sacaremos del web scraping)

In [8]:
df_competencia = df[df["competencia"] == True].drop_duplicates(subset="id_hotel")
df_competencia

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,estrellas,ciudad
0,5256cc90-139b-43d2-8ec5-412495d751cf,346f2a77-33f4-4b2d-82f3-e8501e21b28d,Feliciana,Cantón,feliciana.cantón@example.com,True,NaT,2025-03-01,2025-03-02,113,NaN,,NaN,
1,84fd6209-bd8d-4a92-bfe6-c68ee2c49271,346f2a77-33f4-4b2d-82f3-e8501e21b28d,Leonardo,Hierro,leonardo.hierro@example.com,True,NaT,2025-03-01,2025-03-02,194,NaN,,NaN,
7,4d65096e-5f12-4ce7-9fd6-dd20e3cf5194,443a7307-2183-4051-b0bb-26f12fc1f478,Judith,Rivas,judith.rivas@example.com,True,NaT,2025-03-01,2025-03-02,131,NaN,,NaN,
9,458029ad-cc9b-4d85-8290-fec170bcc02d,e1a34338-a0aa-4b0e-96de-55f884eeb074,Adolfo,Cuervo,adolfo.cuervo@example.com,True,NaT,2025-03-01,2025-03-02,114,NaN,,NaN,
11,ac0fe86e-90a0-4fe6-a02e-6ea00e9a8621,2949fb90-39ab-4613-b4c1-e238bb56faf3,María Carmen,Navarro,maría carmen.navarro@example.com,True,NaT,2025-03-01,2025-03-02,103,NaN,,NaN,
12,8d2d3ea2-14bb-4762-a7a4-a44e75d2d2f4,6c104070-aad0-4372-a6dc-cd38a6f7c3cf,Ricardo,Caballero,ricardo.caballero@example.com,True,NaT,2025-03-01,2025-03-02,181,NaN,,NaN,
16,f4cf7cbf-7a2a-4e44-9b9d-e2c9a444ec78,b1826b3e-e9aa-4a40-b94a-09ad8e7d6507,Lázaro,Pardo,lázaro.pardo@example.com,True,NaT,2025-03-01,2025-03-02,128,NaN,,NaN,
31,4e4f9542-3b51-4da1-b75e-b8c8a2018b6e,85306c06-a7f1-4fdb-807e-66b2178e93c4,Angelina,Priego,angelina.priego@example.com,True,NaT,2025-03-01,2025-03-02,186,NaN,,NaN,
46,7acd5eae-e278-4568-9e35-638532e10b87,43ffdcc5-51b6-4eda-81f5-df2c1ed1adbe,María Belén,Escalona,maría belén.escalona@example.com,True,NaT,2025-03-01,2025-03-02,135,NaN,,NaN,
78,946c7d6c-9523-4056-bc05-4f25b7582202,de5abee1-33ee-421f-9ebd-1baaafafccf9,Rosalva,Cabañas,rosalva.cabañas@example.com,True,NaT,2025-03-01,2025-03-02,117,NaN,,NaN,

In [9]:
df_hoteles_nuestros = df[df["competencia"] == False].drop_duplicates(subset="nombre_hotel")
df_hoteles_nuestros

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,estrellas,ciudad
2,40c4cb55-d1f5-407b-832f-4756b8ff77b4,6ec4d7d2-e382-47cc-94f6-c647577d4035,Maite,Calatayud,maite.calatayud@example.com,False,2025-02-09,2025-03-01,2025-03-02,14,119.96,Hotel Monte Verde,1.0,Madrid
3,f2ce8df5-7844-43e1-8c0f-97ce7a208f21,aed17fe8-eb18-4f69-bf08-df1afdc339c3,Tecla,Bonet,tecla.bonet@example.com,False,2025-02-08,2025-03-01,2025-03-02,38,211.53,Hotel Brisas del Mar,5.0,Madrid
4,57d4515a-447d-4067-afcb-9bdcf4e4e915,710a2fbb-264f-426a-aa66-f8fffd146a2d,Amílcar,Andrés,amílcar.andrés@example.com,False,2025-02-02,2025-03-01,2025-03-02,35,378.37,Hotel Camino del Sol,1.0,Madrid
5,ccbd9fe9-5a60-4f6f-bed3-73a7158ecba7,df42ae3d-0b9b-4c06-b22e-939323833ef8,Joan,Vazquez,joan.vazquez@example.com,False,2025-02-08,2025-03-01,2025-03-02,36,85.45,Hotel Puerta del Cielo,5.0,Madrid
6,99c3dc4f-663c-45f7-849a-ac9313f3746a,a16a9d83-6888-4947-a7ab-ed41203e347c,Chelo,Flor,chelo.flor@example.com,False,2025-02-09,2025-03-01,2025-03-02,43,309.80,Hotel Encanto Real,1.0,Madrid
8,a5da0906-0fe5-4c30-b193-863df67a7b84,4b789497-8da4-4962-b0fa-070556648ed1,Dolores,Lobo,dolores.lobo@example.com,False,2025-02-10,2025-03-01,2025-03-02,6,434.88,Palacio del Sol,4.0,Madrid
10,3eca014e-f122-41d7-9dd3-b984b9153d57,dbaadb0e-a0ff-436e-9b10-c697fb90b720,Noé,Lobo,noé.lobo@example.com,False,2025-02-02,2025-03-01,2025-03-02,3,216.57,Hotel Jardines del Rey,3.0,Madrid
13,8a68fb77-8798-4902-a92d-642ea5e47083,26ca67cd-3762-4f90-9372-c5f3d49df733,Omar,Lamas,omar.lamas@example.com,False,2025-02-10,2025-03-01,2025-03-02,29,378.10,Hotel Las Estrellas,4.0,Madrid
15,5e3de36b-3d2f-4cef-98d3-df826c56a4b1,a263c6e8-96af-4720-96f0-04cfe51116c6,Ágata,Pinedo,ágata.pinedo@example.com,False,2025-02-01,2025-03-01,2025-03-02,47,358.07,Gran Hotel Madrid,2.0,Madrid
17,2a39eb83-b3aa-4df0-93b3-1fdc0b0a9609,b9cea054-2a9a-4772-bc62-feddbd73ea8a,Julie,Baños,julie.baños@example.com,False,2025-02-01,2025-03-01,2025-03-02,14,79.77,Hotel Torre Dorada,3.0,Madrid
18,96a3727c-99fb-4ae0-a6c3-886504499ec2,7164885d-7481-40cc-9aa7-025264d00798,Javier,Mancebo,javier.mancebo@example.com,False,2025-02-12,2025-03-01,2025-03-02,27,228.02,Hotel Palacio Imperial,2.0,Madrid
20,9880f3ea-a29d-4acd-9fe1-96df1ffa46bd,38949903-64ff-48df-a57c-b589d98cc372,Ricardo,Lobo,ricardo.lobo@example.com,False,2025-02-06,2025-03-01,2025-03-02,13,454.01,Hotel Luz de Madrid,3.0,Madrid
22,68b36da9-eeaa-4c31-91a8-d34fcc3956c8,09323025-a5a9-4b54-81e4-430591596518,Pedro,Gallego,pedro.gallego@example.com,False,2025-02-09,2025-03-01,2025-03-02,28,332.34,Hotel Los Almendros,5.0,Madrid
24,9b16fc42-a7c6-4db9-98c7-30dbf2bb72b3,614c4625-81ae-4cb8-be62-beef3ba967bb,Francisco Javier,Hierro,francisco javier.hierro@example.com,False,2025-02-02,2025-03-01,2025-03-02,29,437.34,Hotel Sol y Luna,1.0,Madrid
26,8a5b02f8-caa9-4917-a50d-a122c74a5c6d,07cde2c9-6e63-43d1-bff0-f57d76fb0af2,Felicidad,Gimenez,felicidad.gimenez@example.com,False,2025-02-09,2025-03-01,2025-03-02,3,254.17,Hotel Mirador Real,5.0,Madrid
32,2713abaf-e02b-4e4b-9897-a6b9cd4862b5,790f974c-32cd-4a48-8d53-4e5b533aa339,Fernanda,Segarra,fernanda.segarra@example.com,False,2025-02-02,2025-03-01,2025-03-02,6,88.53,Hotel Rincón Sereno,1.0,Madrid
33,56aa252f-8c76-4712-a8d8-cfa844b5711a,aae14664-a527-41a9-93ae-cf5b636d7dd0,Emilio,Huerta,emilio.huerta@example.com,False,2025-02-09,2025-03-01,2025-03-02,29,394.62,Hotel Vista Alegre,4.0,Madrid
37,f4b3e94a-2476-4923-953d-1f76ad90b520,afa28bc0-9dde-436c-bf88-48c189921a80,Marisol,Arévalo,marisol.arévalo@example.com,False,2025-02-11,2025-03-01,2025-03-02,40,253.16,Hotel Costa Azul,2.0,Madrid
60,73b6396e-25dc-4516-9a8a-047fbdf14eb3,b73a5c5b-e670-4043-8805-bed444c758bc,Asunción,Sanmiguel,asunción.sanmiguel@example.com,False,2025-02-02,2025-03-01,2025-03-02,40,463.71,Hotel Maravilla Real,2.0,Madrid

In [10]:
df_media_estrellas = round(df_hoteles_nuestros.groupby("nombre_hotel")["estrellas"].mean().reset_index(),1)
df_media_estrellas

              nombre_hotel  estrellas
0        Gran Hotel Madrid        2.0
1     Hotel Brisas del Mar        5.0
2     Hotel Camino del Sol        1.0
3         Hotel Costa Azul        2.0
4       Hotel Encanto Real        1.0
5   Hotel Jardines del Rey        3.0
6      Hotel Las Estrellas        4.0
7      Hotel Los Almendros        5.0
8      Hotel Luz de Madrid        3.0
9     Hotel Maravilla Real        2.0
10      Hotel Mirador Real        5.0
11       Hotel Monte Verde        1.0
12  Hotel Palacio Imperial        2.0
13  Hotel Puerta del Cielo        5.0
14     Hotel Rincón Sereno        1.0
15        Hotel Sol y Luna        1.0
16      Hotel Torre Dorada        3.0
17      Hotel Vista Alegre        4.0
18         Palacio del Sol        4.0

In [11]:
# generamos un diccionario con los nombres de los hoteles y sus estrellas
nombrehotel=[]
estrellas=[]
for nombre in df_media_estrellas["nombre_hotel"]:
    nombrehotel.append(nombre)
for fila in df_media_estrellas["estrellas"]:
    estrellas.append(fila)
hoteles_estrellas = dict(zip(nombrehotel, estrellas))
hoteles_estrellas

{'Gran Hotel Madrid': 2.0,
 'Hotel Brisas del Mar': 5.0,
 'Hotel Camino del Sol': 1.0,
 'Hotel Costa Azul': 2.0,
 'Hotel Encanto Real': 1.0,
 'Hotel Jardines del Rey': 3.0,
 'Hotel Las Estrellas': 4.0,
 'Hotel Los Almendros': 5.0,
 'Hotel Luz de Madrid': 3.0,
 'Hotel Maravilla Real': 2.0,
 'Hotel Mirador Real': 5.0,
 'Hotel Monte Verde': 1.0,
 'Hotel Palacio Imperial': 2.0,
 'Hotel Puerta del Cielo': 5.0,
 'Hotel Rincón Sereno': 1.0,
 'Hotel Sol y Luna': 1.0,
 'Hotel Torre Dorada': 3.0,
 'Hotel Vista Alegre': 4.0,
 'Palacio del Sol': 4.0}

In [12]:
# Usamos el diccionario para mapear el df de hoteles propios y corregir la columna de estrellas
df_hoteles_nuestros["estrellas"] = df_hoteles_nuestros["nombre_hotel"].map(hoteles_estrellas)
df_hoteles_nuestros

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,estrellas,ciudad
2,40c4cb55-d1f5-407b-832f-4756b8ff77b4,6ec4d7d2-e382-47cc-94f6-c647577d4035,Maite,Calatayud,maite.calatayud@example.com,False,2025-02-09,2025-03-01,2025-03-02,14,119.96,Hotel Monte Verde,1.0,Madrid
3,f2ce8df5-7844-43e1-8c0f-97ce7a208f21,aed17fe8-eb18-4f69-bf08-df1afdc339c3,Tecla,Bonet,tecla.bonet@example.com,False,2025-02-08,2025-03-01,2025-03-02,38,211.53,Hotel Brisas del Mar,5.0,Madrid
4,57d4515a-447d-4067-afcb-9bdcf4e4e915,710a2fbb-264f-426a-aa66-f8fffd146a2d,Amílcar,Andrés,amílcar.andrés@example.com,False,2025-02-02,2025-03-01,2025-03-02,35,378.37,Hotel Camino del Sol,1.0,Madrid
5,ccbd9fe9-5a60-4f6f-bed3-73a7158ecba7,df42ae3d-0b9b-4c06-b22e-939323833ef8,Joan,Vazquez,joan.vazquez@example.com,False,2025-02-08,2025-03-01,2025-03-02,36,85.45,Hotel Puerta del Cielo,5.0,Madrid
6,99c3dc4f-663c-45f7-849a-ac9313f3746a,a16a9d83-6888-4947-a7ab-ed41203e347c,Chelo,Flor,chelo.flor@example.com,False,2025-02-09,2025-03-01,2025-03-02,43,309.80,Hotel Encanto Real,1.0,Madrid
8,a5da0906-0fe5-4c30-b193-863df67a7b84,4b789497-8da4-4962-b0fa-070556648ed1,Dolores,Lobo,dolores.lobo@example.com,False,2025-02-10,2025-03-01,2025-03-02,6,434.88,Palacio del Sol,4.0,Madrid
10,3eca014e-f122-41d7-9dd3-b984b9153d57,dbaadb0e-a0ff-436e-9b10-c697fb90b720,Noé,Lobo,noé.lobo@example.com,False,2025-02-02,2025-03-01,2025-03-02,3,216.57,Hotel Jardines del Rey,3.0,Madrid
13,8a68fb77-8798-4902-a92d-642ea5e47083,26ca67cd-3762-4f90-9372-c5f3d49df733,Omar,Lamas,omar.lamas@example.com,False,2025-02-10,2025-03-01,2025-03-02,29,378.10,Hotel Las Estrellas,4.0,Madrid
15,5e3de36b-3d2f-4cef-98d3-df826c56a4b1,a263c6e8-96af-4720-96f0-04cfe51116c6,Ágata,Pinedo,ágata.pinedo@example.com,False,2025-02-01,2025-03-01,2025-03-02,47,358.07,Gran Hotel Madrid,2.0,Madrid
17,2a39eb83-b3aa-4df0-93b3-1fdc0b0a9609,b9cea054-2a9a-4772-bc62-feddbd73ea8a,Julie,Baños,julie.baños@example.com,False,2025-02-01,2025-03-01,2025-03-02,14,79.77,Hotel Torre Dorada,3.0,Madrid
18,96a3727c-99fb-4ae0-a6c3-886504499ec2,7164885d-7481-40cc-9aa7-025264d00798,Javier,Mancebo,javier.mancebo@example.com,False,2025-02-12,2025-03-01,2025-03-02,27,228.02,Hotel Palacio Imperial,2.0,Madrid
20,9880f3ea-a29d-4acd-9fe1-96df1ffa46bd,38949903-64ff-48df-a57c-b589d98cc372,Ricardo,Lobo,ricardo.lobo@example.com,False,2025-02-06,2025-03-01,2025-03-02,13,454.01,Hotel Luz de Madrid,3.0,Madrid
22,68b36da9-eeaa-4c31-91a8-d34fcc3956c8,09323025-a5a9-4b54-81e4-430591596518,Pedro,Gallego,pedro.gallego@example.com,False,2025-02-09,2025-03-01,2025-03-02,28,332.34,Hotel Los Almendros,5.0,Madrid
24,9b16fc42-a7c6-4db9-98c7-30dbf2bb72b3,614c4625-81ae-4cb8-be62-beef3ba967bb,Francisco Javier,Hierro,francisco javier.hierro@example.com,False,2025-02-02,2025-03-01,2025-03-02,29,437.34,Hotel Sol y Luna,1.0,Madrid
26,8a5b02f8-caa9-4917-a50d-a122c74a5c6d,07cde2c9-6e63-43d1-bff0-f57d76fb0af2,Felicidad,Gimenez,felicidad.gimenez@example.com,False,2025-02-09,2025-03-01,2025-03-02,3,254.17,Hotel Mirador Real,5.0,Madrid
32,2713abaf-e02b-4e4b-9897-a6b9cd4862b5,790f974c-32cd-4a48-8d53-4e5b533aa339,Fernanda,Segarra,fernanda.segarra@example.com,False,2025-02-02,2025-03-01,2025-03-02,6,88.53,Hotel Rincón Sereno,1.0,Madrid
33,56aa252f-8c76-4712-a8d8-cfa844b5711a,aae14664-a527-41a9-93ae-cf5b636d7dd0,Emilio,Huerta,emilio.huerta@example.com,False,2025-02-09,2025-03-01,2025-03-02,29,394.62,Hotel Vista Alegre,4.0,Madrid
37,f4b3e94a-2476-4923-953d-1f76ad90b520,afa28bc0-9dde-436c-bf88-48c189921a80,Marisol,Arévalo,marisol.arévalo@example.com,False,2025-02-11,2025-03-01,2025-03-02,40,253.16,Hotel Costa Azul,2.0,Madrid
60,73b6396e-25dc-4516-9a8a-047fbdf14eb3,b73a5c5b-e670-4043-8805-bed444c758bc,Asunción,Sanmiguel,asunción.sanmiguel@example.com,False,2025-02-02,2025-03-01,2025-03-02,40,463.71,Hotel Maravilla Real,2.0,Madrid

### Nulos

Vamos a estudiar cómo son los nulos para ver cómo trabajamos con ellos.

In [13]:
df

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,estrellas,ciudad
0,5256cc90-139b-43d2-8ec5-412495d751cf,346f2a77-33f4-4b2d-82f3-e8501e21b28d,Feliciana,Cantón,feliciana.cantón@example.com,True,NaT,2025-03-01,2025-03-02,113,NaN,,NaN,
1,84fd6209-bd8d-4a92-bfe6-c68ee2c49271,346f2a77-33f4-4b2d-82f3-e8501e21b28d,Leonardo,Hierro,leonardo.hierro@example.com,True,NaT,2025-03-01,2025-03-02,194,NaN,,NaN,
2,40c4cb55-d1f5-407b-832f-4756b8ff77b4,6ec4d7d2-e382-47cc-94f6-c647577d4035,Maite,Calatayud,maite.calatayud@example.com,False,2025-02-09,2025-03-01,2025-03-02,14,119.96,Hotel Monte Verde,1.0,Madrid
3,f2ce8df5-7844-43e1-8c0f-97ce7a208f21,aed17fe8-eb18-4f69-bf08-df1afdc339c3,Tecla,Bonet,tecla.bonet@example.com,False,2025-02-08,2025-03-01,2025-03-02,38,211.53,Hotel Brisas del Mar,5.0,Madrid
4,57d4515a-447d-4067-afcb-9bdcf4e4e915,710a2fbb-264f-426a-aa66-f8fffd146a2d,Amílcar,Andrés,amílcar.andrés@example.com,False,2025-02-02,2025-03-01,2025-03-02,35,378.37,Hotel Camino del Sol,1.0,Madrid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15093,49c9a352-a260-46fb-9edc-a2c2d05fdfb9,cc50c0c1-a589-44b7-8a41-2c731d033f89,Victoriano,Miralles,victoriano.miralles@example.com,False,2025-02-02,2025-03-01,2025-03-02,36,367.65,Hotel Las Estrellas,3.0,Madrid
15094,f07370e3-feeb-4893-a9ff-4ec4fb518a55,2bf0215f-7f7b-4cfb-9a37-d2022c492410,Anacleto,Toledo,anacleto.toledo@example.com,False,2025-02-07,2025-03-01,2025-03-02,38,144.35,Gran Hotel Madrid,4.0,Madrid
15095,1d4b9293-1733-45ce-8a8e-79d3ac4694eb,4ba34638-c43e-455f-886d-b3e3dd223a07,Máxima,Mayoral,máxima.mayoral@example.com,False,2025-02-08,2025-03-01,2025-03-02,29,463.32,Hotel Jardines del Rey,2.0,Madrid
15096,d6823ca7-e236-48b1-bf68-6b88d9b6534a,a017cb9c-160b-4b90-b4a9-4bdb2dce546a,Rafa,Alcaraz,rafa.alcaraz@example.com,False,2025-02-10,2025-03-01,2025-03-02,15,247.63,Hotel Palacio Imperial,1.0,Madrid
15097,6b26f923-22b2-4de7-b1d5-bce158361dee,5842d91d-6ca2-4174-920b-8a2e1ca852ba,Eugenio,Quintero,eugenio.quintero@example.com,False,2025-02-06,2025-03-01,2025-03-02,28,433.87,Hotel Puerta del Cielo,4.0,Madrid

In [14]:
#Para las fechas de entrada y salida, podemos rellenar toda la columna con la misma fecha ya que son todas iguales.
fecha_reemplazo = "2025-03-01"

df["inicio_estancia"] = df["inicio_estancia"].replace("", None)  # Reemplazar cadenas vacías con None (nulos)
df["inicio_estancia"] = df["inicio_estancia"].fillna(fecha_reemplazo)

# ✅ Convertir la columna a tipo datetime
df["inicio_estancia"] = pd.to_datetime(df["inicio_estancia"])
df["inicio_estancia"].nunique()

1

In [15]:
fecha_reemplazo1 = "2025-03-02"

df["final_estancia"] = df["final_estancia"].replace("", None)  # Reemplazar cadenas vacías con None (nulos)
df["final_estancia"] = df["final_estancia"].fillna(fecha_reemplazo1)

# ✅ Convertir la columna a tipo datetime
df["final_estancia"] = pd.to_datetime(df["final_estancia"])
df["final_estancia"].nunique()

1

In [16]:
df_mail = df["mail"].unique()
df_mail

array(['feliciana.cantón@example.com', 'leonardo.hierro@example.com',
       'maite.calatayud@example.com', ..., 'nadia.verdugo@example.com',
       'custodia.marco@example.com', 'brígida.salom@example.com'],
      shape=(14905,), dtype=object)

In [17]:
# modifica la columna id_cliente generando un id_cliente que comienza en 1 y va asignando cada numero en formato texto a un mail aleatorio
dicc_id_clientes = {}
conteo = 1

for mail in df_mail:
    dicc_id_clientes[mail] = conteo 
    conteo = conteo + 1

df["id"] = df["mail"].map(dicc_id_clientes).astype(str)

print(df["id_cliente"].nunique())
print(df["id_cliente"].dtypes)

df

14847
object

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,estrellas,ciudad,id
0,5256cc90-139b-43d2-8ec5-412495d751cf,346f2a77-33f4-4b2d-82f3-e8501e21b28d,Feliciana,Cantón,feliciana.cantón@example.com,True,NaT,2025-03-01,2025-03-02,113,NaN,,NaN,,1
1,84fd6209-bd8d-4a92-bfe6-c68ee2c49271,346f2a77-33f4-4b2d-82f3-e8501e21b28d,Leonardo,Hierro,leonardo.hierro@example.com,True,NaT,2025-03-01,2025-03-02,194,NaN,,NaN,,2
2,40c4cb55-d1f5-407b-832f-4756b8ff77b4,6ec4d7d2-e382-47cc-94f6-c647577d4035,Maite,Calatayud,maite.calatayud@example.com,False,2025-02-09,2025-03-01,2025-03-02,14,119.96,Hotel Monte Verde,1.0,Madrid,3
3,f2ce8df5-7844-43e1-8c0f-97ce7a208f21,aed17fe8-eb18-4f69-bf08-df1afdc339c3,Tecla,Bonet,tecla.bonet@example.com,False,2025-02-08,2025-03-01,2025-03-02,38,211.53,Hotel Brisas del Mar,5.0,Madrid,4
4,57d4515a-447d-4067-afcb-9bdcf4e4e915,710a2fbb-264f-426a-aa66-f8fffd146a2d,Amílcar,Andrés,amílcar.andrés@example.com,False,2025-02-02,2025-03-01,2025-03-02,35,378.37,Hotel Camino del Sol,1.0,Madrid,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15093,49c9a352-a260-46fb-9edc-a2c2d05fdfb9,cc50c0c1-a589-44b7-8a41-2c731d033f89,Victoriano,Miralles,victoriano.miralles@example.com,False,2025-02-02,2025-03-01,2025-03-02,36,367.65,Hotel Las Estrellas,3.0,Madrid,3320
15094,f07370e3-feeb-4893-a9ff-4ec4fb518a55,2bf0215f-7f7b-4cfb-9a37-d2022c492410,Anacleto,Toledo,anacleto.toledo@example.com,False,2025-02-07,2025-03-01,2025-03-02,38,144.35,Gran Hotel Madrid,4.0,Madrid,12211
15095,1d4b9293-1733-45ce-8a8e-79d3ac4694eb,4ba34638-c43e-455f-886d-b3e3dd223a07,Máxima,Mayoral,máxima.mayoral@example.com,False,2025-02-08,2025-03-01,2025-03-02,29,463.32,Hotel Jardines del Rey,2.0,Madrid,7155
15096,d6823ca7-e236-48b1-bf68-6b88d9b6534a,a017cb9c-160b-4b90-b4a9-4bdb2dce546a,Rafa,Alcaraz,rafa.alcaraz@example.com,False,2025-02-10,2025-03-01,2025-03-02,15,247.63,Hotel Palacio Imperial,1.0,Madrid,13302
15097,6b26f923-22b2-4de7-b1d5-bce158361dee,5842d91d-6ca2-4174-920b-8a2e1ca852ba,Eugenio,Quintero,eugenio.quintero@example.com,False,2025-02-06,2025-03-01,2025-03-02,28,433.87,Hotel Puerta del Cielo,4.0,Madrid,2791

In [18]:
df

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,estrellas,ciudad,id
0,5256cc90-139b-43d2-8ec5-412495d751cf,346f2a77-33f4-4b2d-82f3-e8501e21b28d,Feliciana,Cantón,feliciana.cantón@example.com,True,NaT,2025-03-01,2025-03-02,113,NaN,,NaN,,1
1,84fd6209-bd8d-4a92-bfe6-c68ee2c49271,346f2a77-33f4-4b2d-82f3-e8501e21b28d,Leonardo,Hierro,leonardo.hierro@example.com,True,NaT,2025-03-01,2025-03-02,194,NaN,,NaN,,2
2,40c4cb55-d1f5-407b-832f-4756b8ff77b4,6ec4d7d2-e382-47cc-94f6-c647577d4035,Maite,Calatayud,maite.calatayud@example.com,False,2025-02-09,2025-03-01,2025-03-02,14,119.96,Hotel Monte Verde,1.0,Madrid,3
3,f2ce8df5-7844-43e1-8c0f-97ce7a208f21,aed17fe8-eb18-4f69-bf08-df1afdc339c3,Tecla,Bonet,tecla.bonet@example.com,False,2025-02-08,2025-03-01,2025-03-02,38,211.53,Hotel Brisas del Mar,5.0,Madrid,4
4,57d4515a-447d-4067-afcb-9bdcf4e4e915,710a2fbb-264f-426a-aa66-f8fffd146a2d,Amílcar,Andrés,amílcar.andrés@example.com,False,2025-02-02,2025-03-01,2025-03-02,35,378.37,Hotel Camino del Sol,1.0,Madrid,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15093,49c9a352-a260-46fb-9edc-a2c2d05fdfb9,cc50c0c1-a589-44b7-8a41-2c731d033f89,Victoriano,Miralles,victoriano.miralles@example.com,False,2025-02-02,2025-03-01,2025-03-02,36,367.65,Hotel Las Estrellas,3.0,Madrid,3320
15094,f07370e3-feeb-4893-a9ff-4ec4fb518a55,2bf0215f-7f7b-4cfb-9a37-d2022c492410,Anacleto,Toledo,anacleto.toledo@example.com,False,2025-02-07,2025-03-01,2025-03-02,38,144.35,Gran Hotel Madrid,4.0,Madrid,12211
15095,1d4b9293-1733-45ce-8a8e-79d3ac4694eb,4ba34638-c43e-455f-886d-b3e3dd223a07,Máxima,Mayoral,máxima.mayoral@example.com,False,2025-02-08,2025-03-01,2025-03-02,29,463.32,Hotel Jardines del Rey,2.0,Madrid,7155
15096,d6823ca7-e236-48b1-bf68-6b88d9b6534a,a017cb9c-160b-4b90-b4a9-4bdb2dce546a,Rafa,Alcaraz,rafa.alcaraz@example.com,False,2025-02-10,2025-03-01,2025-03-02,15,247.63,Hotel Palacio Imperial,1.0,Madrid,13302
15097,6b26f923-22b2-4de7-b1d5-bce158361dee,5842d91d-6ca2-4174-920b-8a2e1ca852ba,Eugenio,Quintero,eugenio.quintero@example.com,False,2025-02-06,2025-03-01,2025-03-02,28,433.87,Hotel Puerta del Cielo,4.0,Madrid,2791

In [19]:
df_mails_unicos = df.drop_duplicates(subset=["mail"])
df_mails_unicos.head()

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,estrellas,ciudad,id
0,5256cc90-139b-43d2-8ec5-412495d751cf,346f2a77-33f4-4b2d-82f3-e8501e21b28d,Feliciana,Cantón,feliciana.cantón@example.com,True,NaT,2025-03-01,2025-03-02,113,NaN,,NaN,,1
1,84fd6209-bd8d-4a92-bfe6-c68ee2c49271,346f2a77-33f4-4b2d-82f3-e8501e21b28d,Leonardo,Hierro,leonardo.hierro@example.com,True,NaT,2025-03-01,2025-03-02,194,NaN,,NaN,,2
2,40c4cb55-d1f5-407b-832f-4756b8ff77b4,6ec4d7d2-e382-47cc-94f6-c647577d4035,Maite,Calatayud,maite.calatayud@example.com,False,2025-02-09,2025-03-01,2025-03-02,14,119.96,Hotel Monte Verde,1.0,Madrid,3
3,f2ce8df5-7844-43e1-8c0f-97ce7a208f21,aed17fe8-eb18-4f69-bf08-df1afdc339c3,Tecla,Bonet,tecla.bonet@example.com,False,2025-02-08,2025-03-01,2025-03-02,38,211.53,Hotel Brisas del Mar,5.0,Madrid,4
4,57d4515a-447d-4067-afcb-9bdcf4e4e915,710a2fbb-264f-426a-aa66-f8fffd146a2d,Amílcar,Andrés,amílcar.andrés@example.com,False,2025-02-02,2025-03-01,2025-03-02,35,378.37,Hotel Camino del Sol,1.0,Madrid,5

In [20]:
df["mail"].nunique()

14905

In [21]:
fecha_reserva = "2025-02-19"

df["fecha_reserva"] = df["fecha_reserva"].replace("", None) #Reemplazar celdas vacías por nulos.
df["fecha_reserva"] = df["fecha_reserva"].fillna(fecha_reserva)
df["fecha_reserva"] = pd.to_datetime(df["fecha_reserva"])

In [22]:
df_hoteles_nuestros = df[df["competencia"] == False].drop_duplicates(subset="id_hotel")
df_hoteles_nuestros

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,estrellas,ciudad,id
2,40c4cb55-d1f5-407b-832f-4756b8ff77b4,6ec4d7d2-e382-47cc-94f6-c647577d4035,Maite,Calatayud,maite.calatayud@example.com,False,2025-02-09,2025-03-01,2025-03-02,14,119.96,Hotel Monte Verde,1.0,Madrid,3
3,f2ce8df5-7844-43e1-8c0f-97ce7a208f21,aed17fe8-eb18-4f69-bf08-df1afdc339c3,Tecla,Bonet,tecla.bonet@example.com,False,2025-02-08,2025-03-01,2025-03-02,38,211.53,Hotel Brisas del Mar,5.0,Madrid,4
4,57d4515a-447d-4067-afcb-9bdcf4e4e915,710a2fbb-264f-426a-aa66-f8fffd146a2d,Amílcar,Andrés,amílcar.andrés@example.com,False,2025-02-02,2025-03-01,2025-03-02,35,378.37,Hotel Camino del Sol,1.0,Madrid,5
5,ccbd9fe9-5a60-4f6f-bed3-73a7158ecba7,df42ae3d-0b9b-4c06-b22e-939323833ef8,Joan,Vazquez,joan.vazquez@example.com,False,2025-02-08,2025-03-01,2025-03-02,36,85.45,Hotel Puerta del Cielo,5.0,Madrid,6
6,99c3dc4f-663c-45f7-849a-ac9313f3746a,a16a9d83-6888-4947-a7ab-ed41203e347c,Chelo,Flor,chelo.flor@example.com,False,2025-02-09,2025-03-01,2025-03-02,43,309.80,Hotel Encanto Real,1.0,Madrid,7
8,a5da0906-0fe5-4c30-b193-863df67a7b84,4b789497-8da4-4962-b0fa-070556648ed1,Dolores,Lobo,dolores.lobo@example.com,False,2025-02-10,2025-03-01,2025-03-02,6,434.88,Palacio del Sol,4.0,Madrid,9
10,3eca014e-f122-41d7-9dd3-b984b9153d57,dbaadb0e-a0ff-436e-9b10-c697fb90b720,Noé,Lobo,noé.lobo@example.com,False,2025-02-02,2025-03-01,2025-03-02,3,216.57,Hotel Jardines del Rey,3.0,Madrid,11
13,8a68fb77-8798-4902-a92d-642ea5e47083,26ca67cd-3762-4f90-9372-c5f3d49df733,Omar,Lamas,omar.lamas@example.com,False,2025-02-10,2025-03-01,2025-03-02,29,378.10,Hotel Las Estrellas,4.0,Madrid,14
15,5e3de36b-3d2f-4cef-98d3-df826c56a4b1,a263c6e8-96af-4720-96f0-04cfe51116c6,Ágata,Pinedo,ágata.pinedo@example.com,False,2025-02-01,2025-03-01,2025-03-02,47,358.07,Gran Hotel Madrid,2.0,Madrid,16
18,96a3727c-99fb-4ae0-a6c3-886504499ec2,7164885d-7481-40cc-9aa7-025264d00798,Javier,Mancebo,javier.mancebo@example.com,False,2025-02-12,2025-03-01,2025-03-02,27,228.02,Hotel Palacio Imperial,2.0,Madrid,19
20,9880f3ea-a29d-4acd-9fe1-96df1ffa46bd,38949903-64ff-48df-a57c-b589d98cc372,Ricardo,Lobo,ricardo.lobo@example.com,False,2025-02-06,2025-03-01,2025-03-02,13,454.01,Hotel Luz de Madrid,3.0,Madrid,21
21,22a3608a-1de2-40c7-8e2a-d22daf77390f,8d24ffd5-1a06-4991-8d0b-143305a376ad,Perlita,Patiño,perlita.patiño@example.com,False,2025-02-02,2025-03-01,2025-03-02,28,279.28,Hotel Encanto Real,1.0,Madrid,22
27,24f9a853-2cef-4fb7-8182-d4f347c772d7,90aedc6a-5f21-4a25-9e55-b6552a657437,Pía,Barba,pía.barba@example.com,False,2025-02-03,2025-03-01,2025-03-02,40,460.67,Hotel Puerta del Cielo,5.0,Madrid,28
36,728efa5a-8a5a-4e53-8b2b-349c4fcab5d9,05cc4ab5-046c-4060-accd-e2e52ad83aa5,Emiliano,Vergara,emiliano.vergara@example.com,False,2025-02-06,2025-03-01,2025-03-02,2,370.82,Hotel Luz de Madrid,3.0,Madrid,37
38,166f113f-64cf-408d-b1c3-30ef155f8049,d0de4a2b-eb08-4dc6-aa8d-1efd2f007539,Ezequiel,Cuesta,ezequiel.cuesta@example.com,False,2025-02-10,2025-03-01,2025-03-02,48,314.73,Hotel Costa Azul,5.0,Madrid,39
58,2af9827a-93df-4f5e-ac7d-bdda0c84ed31,a7fd5407-dcf1-477c-bda7-1da829bf2410,Úrsula,Font,úrsula.font@example.com,False,2025-02-09,2025-03-01,2025-03-02,15,147.96,Gran Hotel Madrid,5.0,Madrid,59
65,55d863f5-efd2-47ee-b047-b786c056ccef,425b8a65-7ac1-4f65-8e27-b78f19558e03,Amílcar,Murillo,amílcar.murillo@example.com,False,2025-02-01,2025-03-01,2025-03-02,33,470.61,Hotel Jardines del Rey,3.0,Madrid,66
80,692a26ac-4f64-4e7d-aeb9-3c0ab9225d8d,b4ec2515-0daa-466a-a6fe-ea94d90aa87c,Ángeles,Guzmán,ángeles.guzmán@example.com,False,2025-02-02,2025-03-01,2025-03-02,49,298.25,Hotel Los Almendros,5.0,Madrid,81
113,fe3a68d9-f2ea-4af4-9512-5d890ed26aa2,edd27e59-3455-4923-800a-1e8fc7128346,Teo,Lloret,teo.lloret@example.com,False,2025-02-01,2025-03-01,2025-03-02,19,185.42,Hotel Camino del Sol,1.0,Madrid,114

In [23]:
df_competencia = df[df["competencia"] == True].drop_duplicates(subset="id_hotel")
df_competencia

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,estrellas,ciudad,id
0,5256cc90-139b-43d2-8ec5-412495d751cf,346f2a77-33f4-4b2d-82f3-e8501e21b28d,Feliciana,Cantón,feliciana.cantón@example.com,True,2025-02-19,2025-03-01,2025-03-02,113,NaN,,NaN,,1
1,84fd6209-bd8d-4a92-bfe6-c68ee2c49271,346f2a77-33f4-4b2d-82f3-e8501e21b28d,Leonardo,Hierro,leonardo.hierro@example.com,True,2025-02-19,2025-03-01,2025-03-02,194,NaN,,NaN,,2
7,4d65096e-5f12-4ce7-9fd6-dd20e3cf5194,443a7307-2183-4051-b0bb-26f12fc1f478,Judith,Rivas,judith.rivas@example.com,True,2025-02-19,2025-03-01,2025-03-02,131,NaN,,NaN,,8
9,458029ad-cc9b-4d85-8290-fec170bcc02d,e1a34338-a0aa-4b0e-96de-55f884eeb074,Adolfo,Cuervo,adolfo.cuervo@example.com,True,2025-02-19,2025-03-01,2025-03-02,114,NaN,,NaN,,10
11,ac0fe86e-90a0-4fe6-a02e-6ea00e9a8621,2949fb90-39ab-4613-b4c1-e238bb56faf3,María Carmen,Navarro,maría carmen.navarro@example.com,True,2025-02-19,2025-03-01,2025-03-02,103,NaN,,NaN,,12
12,8d2d3ea2-14bb-4762-a7a4-a44e75d2d2f4,6c104070-aad0-4372-a6dc-cd38a6f7c3cf,Ricardo,Caballero,ricardo.caballero@example.com,True,2025-02-19,2025-03-01,2025-03-02,181,NaN,,NaN,,13
16,f4cf7cbf-7a2a-4e44-9b9d-e2c9a444ec78,b1826b3e-e9aa-4a40-b94a-09ad8e7d6507,Lázaro,Pardo,lázaro.pardo@example.com,True,2025-02-19,2025-03-01,2025-03-02,128,NaN,,NaN,,17
31,4e4f9542-3b51-4da1-b75e-b8c8a2018b6e,85306c06-a7f1-4fdb-807e-66b2178e93c4,Angelina,Priego,angelina.priego@example.com,True,2025-02-19,2025-03-01,2025-03-02,186,NaN,,NaN,,32
46,7acd5eae-e278-4568-9e35-638532e10b87,43ffdcc5-51b6-4eda-81f5-df2c1ed1adbe,María Belén,Escalona,maría belén.escalona@example.com,True,2025-02-19,2025-03-01,2025-03-02,135,NaN,,NaN,,47
78,946c7d6c-9523-4056-bc05-4f25b7582202,de5abee1-33ee-421f-9ebd-1baaafafccf9,Rosalva,Cabañas,rosalva.cabañas@example.com,True,2025-02-19,2025-03-01,2025-03-02,117,NaN,,NaN,,79

In [24]:
df_competencia["id_hotel"]

0     113
1     194
7     131
9     114
11    103
12    181
16    128
31    186
46    135
78    117
Name: id_hotel, dtype: int64

# Gestión DF competencia

In [25]:
#Unimos los datos de la competencia con el df df_competencia y el escrapeo
df_competencia

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,estrellas,ciudad,id
0,5256cc90-139b-43d2-8ec5-412495d751cf,346f2a77-33f4-4b2d-82f3-e8501e21b28d,Feliciana,Cantón,feliciana.cantón@example.com,True,2025-02-19,2025-03-01,2025-03-02,113,NaN,,NaN,,1
1,84fd6209-bd8d-4a92-bfe6-c68ee2c49271,346f2a77-33f4-4b2d-82f3-e8501e21b28d,Leonardo,Hierro,leonardo.hierro@example.com,True,2025-02-19,2025-03-01,2025-03-02,194,NaN,,NaN,,2
7,4d65096e-5f12-4ce7-9fd6-dd20e3cf5194,443a7307-2183-4051-b0bb-26f12fc1f478,Judith,Rivas,judith.rivas@example.com,True,2025-02-19,2025-03-01,2025-03-02,131,NaN,,NaN,,8
9,458029ad-cc9b-4d85-8290-fec170bcc02d,e1a34338-a0aa-4b0e-96de-55f884eeb074,Adolfo,Cuervo,adolfo.cuervo@example.com,True,2025-02-19,2025-03-01,2025-03-02,114,NaN,,NaN,,10
11,ac0fe86e-90a0-4fe6-a02e-6ea00e9a8621,2949fb90-39ab-4613-b4c1-e238bb56faf3,María Carmen,Navarro,maría carmen.navarro@example.com,True,2025-02-19,2025-03-01,2025-03-02,103,NaN,,NaN,,12
12,8d2d3ea2-14bb-4762-a7a4-a44e75d2d2f4,6c104070-aad0-4372-a6dc-cd38a6f7c3cf,Ricardo,Caballero,ricardo.caballero@example.com,True,2025-02-19,2025-03-01,2025-03-02,181,NaN,,NaN,,13
16,f4cf7cbf-7a2a-4e44-9b9d-e2c9a444ec78,b1826b3e-e9aa-4a40-b94a-09ad8e7d6507,Lázaro,Pardo,lázaro.pardo@example.com,True,2025-02-19,2025-03-01,2025-03-02,128,NaN,,NaN,,17
31,4e4f9542-3b51-4da1-b75e-b8c8a2018b6e,85306c06-a7f1-4fdb-807e-66b2178e93c4,Angelina,Priego,angelina.priego@example.com,True,2025-02-19,2025-03-01,2025-03-02,186,NaN,,NaN,,32
46,7acd5eae-e278-4568-9e35-638532e10b87,43ffdcc5-51b6-4eda-81f5-df2c1ed1adbe,María Belén,Escalona,maría belén.escalona@example.com,True,2025-02-19,2025-03-01,2025-03-02,135,NaN,,NaN,,47
78,946c7d6c-9523-4056-bc05-4f25b7582202,de5abee1-33ee-421f-9ebd-1baaafafccf9,Rosalva,Cabañas,rosalva.cabañas@example.com,True,2025-02-19,2025-03-01,2025-03-02,117,NaN,,NaN,,79

In [28]:
#Eliminamos las columnas de nombre_hotel, estrellas, ciudad, pais y competencia para evitar duplicados a la hora de hacer el merge.
df_competencia = df_competencia.drop(columns=["nombre_hotel", "estrellas", "precio_noche","fecha_reserva"], axis=1)
df_competencia

,id_reserva,id_cliente,nombre,apellido,mail,competencia,inicio_estancia,final_estancia,id_hotel,ciudad,id
0,5256cc90-139b-43d2-8ec5-412495d751cf,346f2a77-33f4-4b2d-82f3-e8501e21b28d,Feliciana,Cantón,feliciana.cantón@example.com,True,2025-03-01,2025-03-02,113,,1
1,84fd6209-bd8d-4a92-bfe6-c68ee2c49271,346f2a77-33f4-4b2d-82f3-e8501e21b28d,Leonardo,Hierro,leonardo.hierro@example.com,True,2025-03-01,2025-03-02,194,,2
7,4d65096e-5f12-4ce7-9fd6-dd20e3cf5194,443a7307-2183-4051-b0bb-26f12fc1f478,Judith,Rivas,judith.rivas@example.com,True,2025-03-01,2025-03-02,131,,8
9,458029ad-cc9b-4d85-8290-fec170bcc02d,e1a34338-a0aa-4b0e-96de-55f884eeb074,Adolfo,Cuervo,adolfo.cuervo@example.com,True,2025-03-01,2025-03-02,114,,10
11,ac0fe86e-90a0-4fe6-a02e-6ea00e9a8621,2949fb90-39ab-4613-b4c1-e238bb56faf3,María Carmen,Navarro,maría carmen.navarro@example.com,True,2025-03-01,2025-03-02,103,,12
12,8d2d3ea2-14bb-4762-a7a4-a44e75d2d2f4,6c104070-aad0-4372-a6dc-cd38a6f7c3cf,Ricardo,Caballero,ricardo.caballero@example.com,True,2025-03-01,2025-03-02,181,,13
16,f4cf7cbf-7a2a-4e44-9b9d-e2c9a444ec78,b1826b3e-e9aa-4a40-b94a-09ad8e7d6507,Lázaro,Pardo,lázaro.pardo@example.com,True,2025-03-01,2025-03-02,128,,17
31,4e4f9542-3b51-4da1-b75e-b8c8a2018b6e,85306c06-a7f1-4fdb-807e-66b2178e93c4,Angelina,Priego,angelina.priego@example.com,True,2025-03-01,2025-03-02,186,,32
46,7acd5eae-e278-4568-9e35-638532e10b87,43ffdcc5-51b6-4eda-81f5-df2c1ed1adbe,María Belén,Escalona,maría belén.escalona@example.com,True,2025-03-01,2025-03-02,135,,47
78,946c7d6c-9523-4056-bc05-4f25b7582202,de5abee1-33ee-421f-9ebd-1baaafafccf9,Rosalva,Cabañas,rosalva.cabañas@example.com,True,2025-03-01,2025-03-02,117,,79

In [30]:
scrapeo_competencia = pd.read_csv("../data/10_hoteles_competencia.csv")
scrapeo_competencia

                                 nombre  estrellas  precio_noche fecha_reserva
0    ibis budget Madrid Centro Lavapies        4.3           106    2025-02-19
1  ibis Styles Madrid Centro Maravillas        4.7           114    2025-02-19
2           ibis budget Madrid Calle 30        4.4            79    2025-02-19
3         ibis Madrid Centro las Ventas        4.5            90    2025-02-19
4  ibis budget Madrid Centro las Ventas        4.3            75    2025-02-19
5    ibis Styles Madrid City Las Ventas        4.6            98    2025-02-19
6       ibis budget Madrid Calle Alcalá        4.3            71    2025-02-19
7              ibis Madrid Calle Alcalá        4.5            78    2025-02-19
8           ibis budget Madrid Vallecas        4.3            70    2025-02-19
9                    ibis Madrid Getafe        4.4            64    2025-02-19

In [31]:
#Cambiamos el nombre de la columna "nombre"" por "nombre_hotel" para poder hacer el merge
scrapeo_competencia = scrapeo_competencia.rename(columns={"nombre": "nombre_hotel"})

In [32]:
scrapeo_competencia

                           nombre_hotel  estrellas  precio_noche fecha_reserva
0    ibis budget Madrid Centro Lavapies        4.3           106    2025-02-19
1  ibis Styles Madrid Centro Maravillas        4.7           114    2025-02-19
2           ibis budget Madrid Calle 30        4.4            79    2025-02-19
3         ibis Madrid Centro las Ventas        4.5            90    2025-02-19
4  ibis budget Madrid Centro las Ventas        4.3            75    2025-02-19
5    ibis Styles Madrid City Las Ventas        4.6            98    2025-02-19
6       ibis budget Madrid Calle Alcalá        4.3            71    2025-02-19
7              ibis Madrid Calle Alcalá        4.5            78    2025-02-19
8           ibis budget Madrid Vallecas        4.3            70    2025-02-19
9                    ibis Madrid Getafe        4.4            64    2025-02-19

In [33]:
#Añadimos la columna id_hotel a "scrapeo_competencia" para poder hacer el merge
scrapeo_competencia["id_hotel"] = df_competencia["id_hotel"].values
scrapeo_competencia

,nombre_hotel,estrellas,precio_noche,fecha_reserva,id_hotel
0,ibis budget Madrid Centro Lavapies,4.3,106,2025-02-19,113
1,ibis Styles Madrid Centro Maravillas,4.7,114,2025-02-19,194
2,ibis budget Madrid Calle 30,4.4,79,2025-02-19,131
3,ibis Madrid Centro las Ventas,4.5,90,2025-02-19,114
4,ibis budget Madrid Centro las Ventas,4.3,75,2025-02-19,103
5,ibis Styles Madrid City Las Ventas,4.6,98,2025-02-19,181
6,ibis budget Madrid Calle Alcalá,4.3,71,2025-02-19,128
7,ibis Madrid Calle Alcalá,4.5,78,2025-02-19,186
8,ibis budget Madrid Vallecas,4.3,70,2025-02-19,135
9,ibis Madrid Getafe,4.4,64,2025-02-19,117

In [34]:
#Hacemos el merge entre "df_competencia" y "scrapeo_competencia" para completar los datos
df_competencia = df_competencia.merge(scrapeo_competencia, on="id_hotel")
df_competencia

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva_x,inicio_estancia,final_estancia,id_hotel,precio_noche_x,nombre_hotel_x,valoracion,ciudad,id,nombre_hotel_y,estrellas,precio_noche_y,fecha_reserva_y
0,5256cc90-139b-43d2-8ec5-412495d751cf,346f2a77-33f4-4b2d-82f3-e8501e21b28d,Feliciana,Cantón,feliciana.cantón@example.com,True,2025-02-19,2025-03-01,2025-03-02,113,NaN,,NaN,,1,ibis budget Madrid Centro Lavapies,4.3,106,2025-02-19
1,84fd6209-bd8d-4a92-bfe6-c68ee2c49271,346f2a77-33f4-4b2d-82f3-e8501e21b28d,Leonardo,Hierro,leonardo.hierro@example.com,True,2025-02-19,2025-03-01,2025-03-02,194,NaN,,NaN,,2,ibis Styles Madrid Centro Maravillas,4.7,114,2025-02-19
2,4d65096e-5f12-4ce7-9fd6-dd20e3cf5194,443a7307-2183-4051-b0bb-26f12fc1f478,Judith,Rivas,judith.rivas@example.com,True,2025-02-19,2025-03-01,2025-03-02,131,NaN,,NaN,,8,ibis budget Madrid Calle 30,4.4,79,2025-02-19
3,458029ad-cc9b-4d85-8290-fec170bcc02d,e1a34338-a0aa-4b0e-96de-55f884eeb074,Adolfo,Cuervo,adolfo.cuervo@example.com,True,2025-02-19,2025-03-01,2025-03-02,114,NaN,,NaN,,10,ibis Madrid Centro las Ventas,4.5,90,2025-02-19
4,ac0fe86e-90a0-4fe6-a02e-6ea00e9a8621,2949fb90-39ab-4613-b4c1-e238bb56faf3,María Carmen,Navarro,maría carmen.navarro@example.com,True,2025-02-19,2025-03-01,2025-03-02,103,NaN,,NaN,,12,ibis budget Madrid Centro las Ventas,4.3,75,2025-02-19
5,8d2d3ea2-14bb-4762-a7a4-a44e75d2d2f4,6c104070-aad0-4372-a6dc-cd38a6f7c3cf,Ricardo,Caballero,ricardo.caballero@example.com,True,2025-02-19,2025-03-01,2025-03-02,181,NaN,,NaN,,13,ibis Styles Madrid City Las Ventas,4.6,98,2025-02-19
6,f4cf7cbf-7a2a-4e44-9b9d-e2c9a444ec78,b1826b3e-e9aa-4a40-b94a-09ad8e7d6507,Lázaro,Pardo,lázaro.pardo@example.com,True,2025-02-19,2025-03-01,2025-03-02,128,NaN,,NaN,,17,ibis budget Madrid Calle Alcalá,4.3,71,2025-02-19
7,4e4f9542-3b51-4da1-b75e-b8c8a2018b6e,85306c06-a7f1-4fdb-807e-66b2178e93c4,Angelina,Priego,angelina.priego@example.com,True,2025-02-19,2025-03-01,2025-03-02,186,NaN,,NaN,,32,ibis Madrid Calle Alcalá,4.5,78,2025-02-19
8,7acd5eae-e278-4568-9e35-638532e10b87,43ffdcc5-51b6-4eda-81f5-df2c1ed1adbe,María Belén,Escalona,maría belén.escalona@example.com,True,2025-02-19,2025-03-01,2025-03-02,135,NaN,,NaN,,47,ibis budget Madrid Vallecas,4.3,70,2025-02-19
9,946c7d6c-9523-4056-bc05-4f25b7582202,de5abee1-33ee-421f-9ebd-1baaafafccf9,Rosalva,Cabañas,rosalva.cabañas@example.com,True,2025-02-19,2025-03-01,2025-03-02,117,NaN,,NaN,,79,ibis Madrid Getafe,4.4,64,2025-02-19

In [35]:
#Por último, rellenamos la columna "ciudad" con el valor "Madrid".capitalizando la primera letra.
df_competencia["ciudad"] = "Madrid"
df_competencia

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva_x,inicio_estancia,final_estancia,id_hotel,precio_noche_x,nombre_hotel_x,valoracion,ciudad,id,nombre_hotel_y,estrellas,precio_noche_y,fecha_reserva_y
0,5256cc90-139b-43d2-8ec5-412495d751cf,346f2a77-33f4-4b2d-82f3-e8501e21b28d,Feliciana,Cantón,feliciana.cantón@example.com,True,2025-02-19,2025-03-01,2025-03-02,113,NaN,,NaN,Madrid,1,ibis budget Madrid Centro Lavapies,4.3,106,2025-02-19
1,84fd6209-bd8d-4a92-bfe6-c68ee2c49271,346f2a77-33f4-4b2d-82f3-e8501e21b28d,Leonardo,Hierro,leonardo.hierro@example.com,True,2025-02-19,2025-03-01,2025-03-02,194,NaN,,NaN,Madrid,2,ibis Styles Madrid Centro Maravillas,4.7,114,2025-02-19
2,4d65096e-5f12-4ce7-9fd6-dd20e3cf5194,443a7307-2183-4051-b0bb-26f12fc1f478,Judith,Rivas,judith.rivas@example.com,True,2025-02-19,2025-03-01,2025-03-02,131,NaN,,NaN,Madrid,8,ibis budget Madrid Calle 30,4.4,79,2025-02-19
3,458029ad-cc9b-4d85-8290-fec170bcc02d,e1a34338-a0aa-4b0e-96de-55f884eeb074,Adolfo,Cuervo,adolfo.cuervo@example.com,True,2025-02-19,2025-03-01,2025-03-02,114,NaN,,NaN,Madrid,10,ibis Madrid Centro las Ventas,4.5,90,2025-02-19
4,ac0fe86e-90a0-4fe6-a02e-6ea00e9a8621,2949fb90-39ab-4613-b4c1-e238bb56faf3,María Carmen,Navarro,maría carmen.navarro@example.com,True,2025-02-19,2025-03-01,2025-03-02,103,NaN,,NaN,Madrid,12,ibis budget Madrid Centro las Ventas,4.3,75,2025-02-19
5,8d2d3ea2-14bb-4762-a7a4-a44e75d2d2f4,6c104070-aad0-4372-a6dc-cd38a6f7c3cf,Ricardo,Caballero,ricardo.caballero@example.com,True,2025-02-19,2025-03-01,2025-03-02,181,NaN,,NaN,Madrid,13,ibis Styles Madrid City Las Ventas,4.6,98,2025-02-19
6,f4cf7cbf-7a2a-4e44-9b9d-e2c9a444ec78,b1826b3e-e9aa-4a40-b94a-09ad8e7d6507,Lázaro,Pardo,lázaro.pardo@example.com,True,2025-02-19,2025-03-01,2025-03-02,128,NaN,,NaN,Madrid,17,ibis budget Madrid Calle Alcalá,4.3,71,2025-02-19
7,4e4f9542-3b51-4da1-b75e-b8c8a2018b6e,85306c06-a7f1-4fdb-807e-66b2178e93c4,Angelina,Priego,angelina.priego@example.com,True,2025-02-19,2025-03-01,2025-03-02,186,NaN,,NaN,Madrid,32,ibis Madrid Calle Alcalá,4.5,78,2025-02-19
8,7acd5eae-e278-4568-9e35-638532e10b87,43ffdcc5-51b6-4eda-81f5-df2c1ed1adbe,María Belén,Escalona,maría belén.escalona@example.com,True,2025-02-19,2025-03-01,2025-03-02,135,NaN,,NaN,Madrid,47,ibis budget Madrid Vallecas,4.3,70,2025-02-19
9,946c7d6c-9523-4056-bc05-4f25b7582202,de5abee1-33ee-421f-9ebd-1baaafafccf9,Rosalva,Cabañas,rosalva.cabañas@example.com,True,2025-02-19,2025-03-01,2025-03-02,117,NaN,,NaN,Madrid,79,ibis Madrid Getafe,4.4,64,2025-02-19

In [26]:
#Cambiamos el nombre de la columna estrellas por valoracion en el df de competencia y en el df:
df_competencia = df_competencia.rename(columns={"estrellas": "valoracion"})
df = df.rename(columns={"estrellas": "valoracion"})

In [36]:
#Eliminamos la columna "id_hotel" del df principal y de la competencia
df = df.drop(columns=["id_hotel"])
df_competencia = df_competencia.drop(columns=["id_hotel"])

KeyError: "['id_hotel'] not found in axis"

In [ ]:
df.head()

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,precio_noche,nombre_hotel,valoracion,ciudad,id
0,5256cc90-139b-43d2-8ec5-412495d751cf,346f2a77-33f4-4b2d-82f3-e8501e21b28d,Feliciana,Cantón,feliciana.cantón@example.com,True,2025-02-19,2025-03-01,2025-03-02,NaN,,NaN,,1
1,84fd6209-bd8d-4a92-bfe6-c68ee2c49271,346f2a77-33f4-4b2d-82f3-e8501e21b28d,Leonardo,Hierro,leonardo.hierro@example.com,True,2025-02-19,2025-03-01,2025-03-02,NaN,,NaN,,2
2,40c4cb55-d1f5-407b-832f-4756b8ff77b4,6ec4d7d2-e382-47cc-94f6-c647577d4035,Maite,Calatayud,maite.calatayud@example.com,False,2025-02-09,2025-03-01,2025-03-02,119.96,Hotel Monte Verde,1.0,Madrid,3
3,f2ce8df5-7844-43e1-8c0f-97ce7a208f21,aed17fe8-eb18-4f69-bf08-df1afdc339c3,Tecla,Bonet,tecla.bonet@example.com,False,2025-02-08,2025-03-01,2025-03-02,211.53,Hotel Brisas del Mar,5.0,Madrid,4
4,57d4515a-447d-4067-afcb-9bdcf4e4e915,710a2fbb-264f-426a-aa66-f8fffd146a2d,Amílcar,Andrés,amílcar.andrés@example.com,False,2025-02-02,2025-03-01,2025-03-02,378.37,Hotel Camino del Sol,1.0,Madrid,5

In [ ]:
#Para completar los missing values de df, como coinciden con los valores únicos de df_competencia, podemos hacer un merge para completar los datos.
df = df.merge(df_competencia, on="id_hotel", how="left")

In [ ]:
df.to_csv("../data/limpieza_reservas_hoteles.csv", index=False)

In [ ]:
df_competencia.to_csv("../data/info_competencia.csv", index=False)

In [ ]:
df_hoteles_nuestros.to_csv("../data/info_hoteles_nuestros.csv", index=False)

In [36]:
# sacamos todos los hoteles cuya competencia = True del df original:
df_total_competencia = df[df["competencia"] == True]
df_total_competencia.head()

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva,inicio_estancia,final_estancia,id_hotel,precio_noche,nombre_hotel,valoracion,ciudad,id
0,5256cc90-139b-43d2-8ec5-412495d751cf,346f2a77-33f4-4b2d-82f3-e8501e21b28d,Feliciana,Cantón,feliciana.cantón@example.com,True,2025-02-19,2025-03-01,2025-03-02,113,NaN,,NaN,,1
1,84fd6209-bd8d-4a92-bfe6-c68ee2c49271,346f2a77-33f4-4b2d-82f3-e8501e21b28d,Leonardo,Hierro,leonardo.hierro@example.com,True,2025-02-19,2025-03-01,2025-03-02,194,NaN,,NaN,,2
7,4d65096e-5f12-4ce7-9fd6-dd20e3cf5194,443a7307-2183-4051-b0bb-26f12fc1f478,Judith,Rivas,judith.rivas@example.com,True,2025-02-19,2025-03-01,2025-03-02,131,NaN,,NaN,,8
9,458029ad-cc9b-4d85-8290-fec170bcc02d,e1a34338-a0aa-4b0e-96de-55f884eeb074,Adolfo,Cuervo,adolfo.cuervo@example.com,True,2025-02-19,2025-03-01,2025-03-02,114,NaN,,NaN,,10
11,ac0fe86e-90a0-4fe6-a02e-6ea00e9a8621,2949fb90-39ab-4613-b4c1-e238bb56faf3,María Carmen,Navarro,maría carmen.navarro@example.com,True,2025-02-19,2025-03-01,2025-03-02,103,NaN,,NaN,,12

In [37]:
df_total_competencia["id"].unique()

array(['1', '2', '8', ..., '14899', '14902', '14904'],
      shape=(5160,), dtype=object)

In [41]:
#cambiamos el nombre de la columna estrellas por valoracion en scrapeo_competencia
scrapeo_competencia = scrapeo_competencia.rename(columns={"estrellas": "valoracion"})

In [42]:
scrapeo_competencia

,nombre_hotel,valoracion,precio_noche,fecha_reserva,id_hotel
0,ibis budget Madrid Centro Lavapies,4.3,106,2025-02-19,113
1,ibis Styles Madrid Centro Maravillas,4.7,114,2025-02-19,194
2,ibis budget Madrid Calle 30,4.4,79,2025-02-19,131
3,ibis Madrid Centro las Ventas,4.5,90,2025-02-19,114
4,ibis budget Madrid Centro las Ventas,4.3,75,2025-02-19,103
5,ibis Styles Madrid City Las Ventas,4.6,98,2025-02-19,181
6,ibis budget Madrid Calle Alcalá,4.3,71,2025-02-19,128
7,ibis Madrid Calle Alcalá,4.5,78,2025-02-19,186
8,ibis budget Madrid Vallecas,4.3,70,2025-02-19,135
9,ibis Madrid Getafe,4.4,64,2025-02-19,117

In [44]:
df_completo_competencia = df_total_competencia.merge(scrapeo_competencia, on="id_hotel", how="left", suffixes=("_df", "_scrapeo"))
df_completo_competencia

,id_reserva,id_cliente,nombre,apellido,mail,competencia,fecha_reserva_x,inicio_estancia,final_estancia,id_hotel,precio_noche_df,nombre_hotel_df,valoracion_df,ciudad,id,fecha_reserva_y,nombre_hotel_scrapeo,valoracion_scrapeo,precio_noche_scrapeo,fecha_reserva
0,5256cc90-139b-43d2-8ec5-412495d751cf,346f2a77-33f4-4b2d-82f3-e8501e21b28d,Feliciana,Cantón,feliciana.cantón@example.com,True,2025-02-19,2025-03-01,2025-03-02,113,NaN,,NaN,,1,NaN,ibis budget Madrid Centro Lavapies,4.3,106,2025-02-19
1,84fd6209-bd8d-4a92-bfe6-c68ee2c49271,346f2a77-33f4-4b2d-82f3-e8501e21b28d,Leonardo,Hierro,leonardo.hierro@example.com,True,2025-02-19,2025-03-01,2025-03-02,194,NaN,,NaN,,2,NaN,ibis Styles Madrid Centro Maravillas,4.7,114,2025-02-19
2,4d65096e-5f12-4ce7-9fd6-dd20e3cf5194,443a7307-2183-4051-b0bb-26f12fc1f478,Judith,Rivas,judith.rivas@example.com,True,2025-02-19,2025-03-01,2025-03-02,131,NaN,,NaN,,8,NaN,ibis budget Madrid Calle 30,4.4,79,2025-02-19
3,458029ad-cc9b-4d85-8290-fec170bcc02d,e1a34338-a0aa-4b0e-96de-55f884eeb074,Adolfo,Cuervo,adolfo.cuervo@example.com,True,2025-02-19,2025-03-01,2025-03-02,114,NaN,,NaN,,10,NaN,ibis Madrid Centro las Ventas,4.5,90,2025-02-19
4,ac0fe86e-90a0-4fe6-a02e-6ea00e9a8621,2949fb90-39ab-4613-b4c1-e238bb56faf3,María Carmen,Navarro,maría carmen.navarro@example.com,True,2025-02-19,2025-03-01,2025-03-02,103,NaN,,NaN,,12,NaN,ibis budget Madrid Centro las Ventas,4.3,75,2025-02-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5167,e856adee-838c-4031-920c-05ec5f1e32e6,7d248367-3444-4bfd-97b3-c56892fa7d97,Jesusa,Espinosa,jesusa.espinosa@example.com,True,2025-02-19,2025-03-01,2025-03-02,135,NaN,,NaN,,14895,NaN,ibis budget Madrid Vallecas,4.3,70,2025-02-19
5168,77134049-6e4f-49b0-a6f8-93b7466b1c22,524c7818-3167-4dc6-bbe3-a75bbc32feaf,Cruz,Hurtado,cruz.hurtado@example.com,True,2025-02-19,2025-03-01,2025-03-02,128,NaN,,NaN,,14897,NaN,ibis budget Madrid Calle Alcalá,4.3,71,2025-02-19
5169,19aef6f3-3e85-4719-9dff-b768d9bfe5a9,fc8320ad-ce4d-4d23-bacd-347b2a2ac24c,Jose Francisco,Cortes,jose francisco.cortes@example.com,True,2025-02-19,2025-03-01,2025-03-02,186,NaN,,NaN,,14899,NaN,ibis Madrid Calle Alcalá,4.5,78,2025-02-19
5170,aa092c3e-7fe6-4985-a5a8-cacd38554b1b,8469b819-d96a-4904-9cdd-710764f6301f,Toño,Narváez,toño.narváez@example.com,True,2025-02-19,2025-03-01,2025-03-02,114,NaN,,NaN,,14902,NaN,ibis Madrid Centro las Ventas,4.5,90,2025-02-19
5171,6d1f590c-ae87-4582-bc99-9b8cbf1d8e28,c4117358-fd89-44cd-b388-4ec6d3538c72,Custodia,Marco,custodia.marco@example.com,True,2025-02-19,2025-03-01,2025-03-02,194,NaN,,NaN,,14904,NaN,ibis Styles Madrid Centro Maravillas,4.7,114,2025-02-19

In [46]:
#eliminamos: precio_noche_df , nombre_hotel_df ,valoracion_df, fecha_reserva_y,fecha_reserva :
df_completo_competencia = df_completo_competencia.drop(columns=["precio_noche_df", "nombre_hotel_df", "valoracion_df", "fecha_reserva_y", "fecha_reserva_x"])
df_completo_competencia

,id_reserva,id_cliente,nombre,apellido,mail,competencia,inicio_estancia,final_estancia,id_hotel,ciudad,id,nombre_hotel_scrapeo,valoracion_scrapeo,precio_noche_scrapeo,fecha_reserva
0,5256cc90-139b-43d2-8ec5-412495d751cf,346f2a77-33f4-4b2d-82f3-e8501e21b28d,Feliciana,Cantón,feliciana.cantón@example.com,True,2025-03-01,2025-03-02,113,,1,ibis budget Madrid Centro Lavapies,4.3,106,2025-02-19
1,84fd6209-bd8d-4a92-bfe6-c68ee2c49271,346f2a77-33f4-4b2d-82f3-e8501e21b28d,Leonardo,Hierro,leonardo.hierro@example.com,True,2025-03-01,2025-03-02,194,,2,ibis Styles Madrid Centro Maravillas,4.7,114,2025-02-19
2,4d65096e-5f12-4ce7-9fd6-dd20e3cf5194,443a7307-2183-4051-b0bb-26f12fc1f478,Judith,Rivas,judith.rivas@example.com,True,2025-03-01,2025-03-02,131,,8,ibis budget Madrid Calle 30,4.4,79,2025-02-19
3,458029ad-cc9b-4d85-8290-fec170bcc02d,e1a34338-a0aa-4b0e-96de-55f884eeb074,Adolfo,Cuervo,adolfo.cuervo@example.com,True,2025-03-01,2025-03-02,114,,10,ibis Madrid Centro las Ventas,4.5,90,2025-02-19
4,ac0fe86e-90a0-4fe6-a02e-6ea00e9a8621,2949fb90-39ab-4613-b4c1-e238bb56faf3,María Carmen,Navarro,maría carmen.navarro@example.com,True,2025-03-01,2025-03-02,103,,12,ibis budget Madrid Centro las Ventas,4.3,75,2025-02-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5167,e856adee-838c-4031-920c-05ec5f1e32e6,7d248367-3444-4bfd-97b3-c56892fa7d97,Jesusa,Espinosa,jesusa.espinosa@example.com,True,2025-03-01,2025-03-02,135,,14895,ibis budget Madrid Vallecas,4.3,70,2025-02-19
5168,77134049-6e4f-49b0-a6f8-93b7466b1c22,524c7818-3167-4dc6-bbe3-a75bbc32feaf,Cruz,Hurtado,cruz.hurtado@example.com,True,2025-03-01,2025-03-02,128,,14897,ibis budget Madrid Calle Alcalá,4.3,71,2025-02-19
5169,19aef6f3-3e85-4719-9dff-b768d9bfe5a9,fc8320ad-ce4d-4d23-bacd-347b2a2ac24c,Jose Francisco,Cortes,jose francisco.cortes@example.com,True,2025-03-01,2025-03-02,186,,14899,ibis Madrid Calle Alcalá,4.5,78,2025-02-19
5170,aa092c3e-7fe6-4985-a5a8-cacd38554b1b,8469b819-d96a-4904-9cdd-710764f6301f,Toño,Narváez,toño.narváez@example.com,True,2025-03-01,2025-03-02,114,,14902,ibis Madrid Centro las Ventas,4.5,90,2025-02-19
5171,6d1f590c-ae87-4582-bc99-9b8cbf1d8e28,c4117358-fd89-44cd-b388-4ec6d3538c72,Custodia,Marco,custodia.marco@example.com,True,2025-03-01,2025-03-02,194,,14904,ibis Styles Madrid Centro Maravillas,4.7,114,2025-02-19

In [47]:
df_completo_competencia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5172 entries, 0 to 5171
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id_reserva            5172 non-null   object
 1   id_cliente            5172 non-null   object
 2   nombre                5172 non-null   object
 3   apellido              5172 non-null   object
 4   mail                  5172 non-null   object
 5   competencia           5172 non-null   bool
 6   inicio_estancia       5172 non-null   datetime64[ns]
 7   final_estancia        5172 non-null   datetime64[ns]
 8   id_hotel              5172 non-null   int64
 9   ciudad                5172 non-null   object
 10  id                    5172 non-null   object
 11  nombre_hotel_scrapeo  5172 non-null   object
 12  valoracion_scrapeo    5172 non-null   float64
 13  precio_noche_scrapeo  5172 non-null   int64
 14  fecha_reserva         5172 non-null   object
dtypes: bool(1), datetime64[ns](2), float64(1), int64(2), object(9)
memory usage: 570.9+ KB

In [48]:
df_completo_competencia["ciudad"] = "Madrid"

In [49]:
df_completo_competencia.head()

,id_reserva,id_cliente,nombre,apellido,mail,competencia,inicio_estancia,final_estancia,id_hotel,ciudad,id,nombre_hotel_scrapeo,valoracion_scrapeo,precio_noche_scrapeo,fecha_reserva
0,5256cc90-139b-43d2-8ec5-412495d751cf,346f2a77-33f4-4b2d-82f3-e8501e21b28d,Feliciana,Cantón,feliciana.cantón@example.com,True,2025-03-01,2025-03-02,113,Madrid,1,ibis budget Madrid Centro Lavapies,4.3,106,2025-02-19
1,84fd6209-bd8d-4a92-bfe6-c68ee2c49271,346f2a77-33f4-4b2d-82f3-e8501e21b28d,Leonardo,Hierro,leonardo.hierro@example.com,True,2025-03-01,2025-03-02,194,Madrid,2,ibis Styles Madrid Centro Maravillas,4.7,114,2025-02-19
2,4d65096e-5f12-4ce7-9fd6-dd20e3cf5194,443a7307-2183-4051-b0bb-26f12fc1f478,Judith,Rivas,judith.rivas@example.com,True,2025-03-01,2025-03-02,131,Madrid,8,ibis budget Madrid Calle 30,4.4,79,2025-02-19
3,458029ad-cc9b-4d85-8290-fec170bcc02d,e1a34338-a0aa-4b0e-96de-55f884eeb074,Adolfo,Cuervo,adolfo.cuervo@example.com,True,2025-03-01,2025-03-02,114,Madrid,10,ibis Madrid Centro las Ventas,4.5,90,2025-02-19
4,ac0fe86e-90a0-4fe6-a02e-6ea00e9a8621,2949fb90-39ab-4613-b4c1-e238bb56faf3,María Carmen,Navarro,maría carmen.navarro@example.com,True,2025-03-01,2025-03-02,103,Madrid,12,ibis budget Madrid Centro las Ventas,4.3,75,2025-02-19

In [50]:
df_completo_nuestros = df[df["competencia"] == False]
df_completo_nuestros.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9926 entries, 2 to 15097
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_reserva       9926 non-null   object
 1   id_cliente       9926 non-null   object
 2   nombre           9926 non-null   object
 3   apellido         9926 non-null   object
 4   mail             9926 non-null   object
 5   competencia      9926 non-null   bool
 6   fecha_reserva    9926 non-null   datetime64[ns]
 7   inicio_estancia  9926 non-null   datetime64[ns]
 8   final_estancia   9926 non-null   datetime64[ns]
 9   id_hotel         9926 non-null   int64
 10  precio_noche     9874 non-null   float64
 11  nombre_hotel     9926 non-null   object
 12  valoracion       9926 non-null   float64
 13  ciudad           9926 non-null   object
 14  id               9926 non-null   object
dtypes: bool(1), datetime64[ns](3), float64(2), int64(1), object(8)
memory usage: 1.1+ MB

In [53]:
print(df_completo_competencia.columns)
print(df_completo_nuestros.columns)

Index(['id_reserva', 'id_cliente', 'nombre', 'apellido', 'mail', 'competencia',
       'inicio_estancia', 'final_estancia', 'id_hotel', 'ciudad', 'id',
       'nombre_hotel_scrapeo', 'valoracion_scrapeo', 'precio_noche_scrapeo',
       'fecha_reserva'],
      dtype='object')
Index(['id_reserva', 'id_cliente', 'nombre', 'apellido', 'mail', 'competencia',
       'fecha_reserva', 'inicio_estancia', 'final_estancia', 'id_hotel',
       'precio_noche', 'nombre_hotel', 'valoracion', 'ciudad', 'id'],
      dtype='object')

In [54]:
#cambiamos el nombre de las siguientes columnas en df_completo_competencia: nombre_hotel_scrapeo, valoracion_scrapeo, precio_noche_scrapeo
df_completo_competencia = df_completo_competencia.rename(columns={"nombre_hotel_scrapeo": "nombre_hotel", "valoracion_scrapeo": "valoracion", "precio_noche_scrapeo": "precio_noche"})
df_completo_competencia

,id_reserva,id_cliente,nombre,apellido,mail,competencia,inicio_estancia,final_estancia,id_hotel,ciudad,id,nombre_hotel,valoracion,precio_noche,fecha_reserva
0,5256cc90-139b-43d2-8ec5-412495d751cf,346f2a77-33f4-4b2d-82f3-e8501e21b28d,Feliciana,Cantón,feliciana.cantón@example.com,True,2025-03-01,2025-03-02,113,Madrid,1,ibis budget Madrid Centro Lavapies,4.3,106,2025-02-19
1,84fd6209-bd8d-4a92-bfe6-c68ee2c49271,346f2a77-33f4-4b2d-82f3-e8501e21b28d,Leonardo,Hierro,leonardo.hierro@example.com,True,2025-03-01,2025-03-02,194,Madrid,2,ibis Styles Madrid Centro Maravillas,4.7,114,2025-02-19
2,4d65096e-5f12-4ce7-9fd6-dd20e3cf5194,443a7307-2183-4051-b0bb-26f12fc1f478,Judith,Rivas,judith.rivas@example.com,True,2025-03-01,2025-03-02,131,Madrid,8,ibis budget Madrid Calle 30,4.4,79,2025-02-19
3,458029ad-cc9b-4d85-8290-fec170bcc02d,e1a34338-a0aa-4b0e-96de-55f884eeb074,Adolfo,Cuervo,adolfo.cuervo@example.com,True,2025-03-01,2025-03-02,114,Madrid,10,ibis Madrid Centro las Ventas,4.5,90,2025-02-19
4,ac0fe86e-90a0-4fe6-a02e-6ea00e9a8621,2949fb90-39ab-4613-b4c1-e238bb56faf3,María Carmen,Navarro,maría carmen.navarro@example.com,True,2025-03-01,2025-03-02,103,Madrid,12,ibis budget Madrid Centro las Ventas,4.3,75,2025-02-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5167,e856adee-838c-4031-920c-05ec5f1e32e6,7d248367-3444-4bfd-97b3-c56892fa7d97,Jesusa,Espinosa,jesusa.espinosa@example.com,True,2025-03-01,2025-03-02,135,Madrid,14895,ibis budget Madrid Vallecas,4.3,70,2025-02-19
5168,77134049-6e4f-49b0-a6f8-93b7466b1c22,524c7818-3167-4dc6-bbe3-a75bbc32feaf,Cruz,Hurtado,cruz.hurtado@example.com,True,2025-03-01,2025-03-02,128,Madrid,14897,ibis budget Madrid Calle Alcalá,4.3,71,2025-02-19
5169,19aef6f3-3e85-4719-9dff-b768d9bfe5a9,fc8320ad-ce4d-4d23-bacd-347b2a2ac24c,Jose Francisco,Cortes,jose francisco.cortes@example.com,True,2025-03-01,2025-03-02,186,Madrid,14899,ibis Madrid Calle Alcalá,4.5,78,2025-02-19
5170,aa092c3e-7fe6-4985-a5a8-cacd38554b1b,8469b819-d96a-4904-9cdd-710764f6301f,Toño,Narváez,toño.narváez@example.com,True,2025-03-01,2025-03-02,114,Madrid,14902,ibis Madrid Centro las Ventas,4.5,90,2025-02-19
5171,6d1f590c-ae87-4582-bc99-9b8cbf1d8e28,c4117358-fd89-44cd-b388-4ec6d3538c72,Custodia,Marco,custodia.marco@example.com,True,2025-03-01,2025-03-02,194,Madrid,14904,ibis Styles Madrid Centro Maravillas,4.7,114,2025-02-19

In [55]:
print(df_completo_competencia.columns)
print(df_completo_nuestros.columns)

Index(['id_reserva', 'id_cliente', 'nombre', 'apellido', 'mail', 'competencia',
       'inicio_estancia', 'final_estancia', 'id_hotel', 'ciudad', 'id',
       'nombre_hotel', 'valoracion', 'precio_noche', 'fecha_reserva'],
      dtype='object')
Index(['id_reserva', 'id_cliente', 'nombre', 'apellido', 'mail', 'competencia',
       'fecha_reserva', 'inicio_estancia', 'final_estancia', 'id_hotel',
       'precio_noche', 'nombre_hotel', 'valoracion', 'ciudad', 'id'],
      dtype='object')

In [56]:
#Unimos los dos dataframes con un concat:
df_limpio_final = pd.concat([df_completo_competencia, df_completo_nuestros])
df_limpio_final

,id_reserva,id_cliente,nombre,apellido,mail,competencia,inicio_estancia,final_estancia,id_hotel,ciudad,id,nombre_hotel,valoracion,precio_noche,fecha_reserva
0,5256cc90-139b-43d2-8ec5-412495d751cf,346f2a77-33f4-4b2d-82f3-e8501e21b28d,Feliciana,Cantón,feliciana.cantón@example.com,True,2025-03-01,2025-03-02,113,Madrid,1,ibis budget Madrid Centro Lavapies,4.3,106.00,2025-02-19
1,84fd6209-bd8d-4a92-bfe6-c68ee2c49271,346f2a77-33f4-4b2d-82f3-e8501e21b28d,Leonardo,Hierro,leonardo.hierro@example.com,True,2025-03-01,2025-03-02,194,Madrid,2,ibis Styles Madrid Centro Maravillas,4.7,114.00,2025-02-19
2,4d65096e-5f12-4ce7-9fd6-dd20e3cf5194,443a7307-2183-4051-b0bb-26f12fc1f478,Judith,Rivas,judith.rivas@example.com,True,2025-03-01,2025-03-02,131,Madrid,8,ibis budget Madrid Calle 30,4.4,79.00,2025-02-19
3,458029ad-cc9b-4d85-8290-fec170bcc02d,e1a34338-a0aa-4b0e-96de-55f884eeb074,Adolfo,Cuervo,adolfo.cuervo@example.com,True,2025-03-01,2025-03-02,114,Madrid,10,ibis Madrid Centro las Ventas,4.5,90.00,2025-02-19
4,ac0fe86e-90a0-4fe6-a02e-6ea00e9a8621,2949fb90-39ab-4613-b4c1-e238bb56faf3,María Carmen,Navarro,maría carmen.navarro@example.com,True,2025-03-01,2025-03-02,103,Madrid,12,ibis budget Madrid Centro las Ventas,4.3,75.00,2025-02-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15093,49c9a352-a260-46fb-9edc-a2c2d05fdfb9,cc50c0c1-a589-44b7-8a41-2c731d033f89,Victoriano,Miralles,victoriano.miralles@example.com,False,2025-03-01,2025-03-02,36,Madrid,3320,Hotel Las Estrellas,3.0,367.65,2025-02-02 00:00:00
15094,f07370e3-feeb-4893-a9ff-4ec4fb518a55,2bf0215f-7f7b-4cfb-9a37-d2022c492410,Anacleto,Toledo,anacleto.toledo@example.com,False,2025-03-01,2025-03-02,38,Madrid,12211,Gran Hotel Madrid,4.0,144.35,2025-02-07 00:00:00
15095,1d4b9293-1733-45ce-8a8e-79d3ac4694eb,4ba34638-c43e-455f-886d-b3e3dd223a07,Máxima,Mayoral,máxima.mayoral@example.com,False,2025-03-01,2025-03-02,29,Madrid,7155,Hotel Jardines del Rey,2.0,463.32,2025-02-08 00:00:00
15096,d6823ca7-e236-48b1-bf68-6b88d9b6534a,a017cb9c-160b-4b90-b4a9-4bdb2dce546a,Rafa,Alcaraz,rafa.alcaraz@example.com,False,2025-03-01,2025-03-02,15,Madrid,13302,Hotel Palacio Imperial,1.0,247.63,2025-02-10 00:00:00
15097,6b26f923-22b2-4de7-b1d5-bce158361dee,5842d91d-6ca2-4174-920b-8a2e1ca852ba,Eugenio,Quintero,eugenio.quintero@example.com,False,2025-03-01,2025-03-02,28,Madrid,2791,Hotel Puerta del Cielo,4.0,433.87,2025-02-06 00:00:00

In [57]:
df_limpio_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15098 entries, 0 to 15097
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_reserva       15098 non-null  object
 1   id_cliente       15098 non-null  object
 2   nombre           15098 non-null  object
 3   apellido         15098 non-null  object
 4   mail             15098 non-null  object
 5   competencia      15098 non-null  bool
 6   inicio_estancia  15098 non-null  datetime64[ns]
 7   final_estancia   15098 non-null  datetime64[ns]
 8   id_hotel         15098 non-null  int64
 9   ciudad           15098 non-null  object
 10  id               15098 non-null  object
 11  nombre_hotel     15098 non-null  object
 12  valoracion       15098 non-null  float64
 13  precio_noche     15046 non-null  float64
 14  fecha_reserva    15098 non-null  object
dtypes: bool(1), datetime64[ns](2), float64(2), int64(1), object(9)
memory usage: 1.7+ MB

In [58]:
#Convertimos las columnas: inicio_estancia, final_estancia y fecha_reserva a tipo datetime:
df_limpio_final["inicio_estancia"] = pd.to_datetime(df_limpio_final["inicio_estancia"])
df_limpio_final["final_estancia"] = pd.to_datetime(df_limpio_final["final_estancia"])
df_limpio_final["fecha_reserva"] = pd.to_datetime(df_limpio_final["fecha_reserva"])

In [59]:
df_limpio_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15098 entries, 0 to 15097
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_reserva       15098 non-null  object
 1   id_cliente       15098 non-null  object
 2   nombre           15098 non-null  object
 3   apellido         15098 non-null  object
 4   mail             15098 non-null  object
 5   competencia      15098 non-null  bool
 6   inicio_estancia  15098 non-null  datetime64[ns]
 7   final_estancia   15098 non-null  datetime64[ns]
 8   id_hotel         15098 non-null  int64
 9   ciudad           15098 non-null  object
 10  id               15098 non-null  object
 11  nombre_hotel     15098 non-null  object
 12  valoracion       15098 non-null  float64
 13  precio_noche     15046 non-null  float64
 14  fecha_reserva    15098 non-null  datetime64[ns]
dtypes: bool(1), datetime64[ns](3), float64(2), int64(1), object(8)
memory usage: 1.7+ MB

In [60]:
#Guardamos el df en un csv:
df_limpio_final.to_csv("../data/limpieza_reservas_hoteles.csv", index=False)