In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### LIMPIEZA

In [3]:
df_limpieza = pd.read_csv("../data/limpieza_reservas_hoteles.csv")
df_limpieza.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15098 entries, 0 to 15097
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_reserva       15098 non-null  object
 1   id_cliente       15098 non-null  object
 2   nombre           15098 non-null  object
 3   apellido         15098 non-null  object
 4   mail             15098 non-null  object
 5   competencia      15098 non-null  bool
 6   inicio_estancia  15098 non-null  object
 7   final_estancia   15098 non-null  object
 8   id_hotel         15098 non-null  int64
 9   ciudad           15098 non-null  object
 10  id               15098 non-null  int64
 11  nombre_hotel     15098 non-null  object
 12  valoracion       15098 non-null  float64
 13  precio_noche     15046 non-null  float64
 14  fecha_reserva    15098 non-null  object
dtypes: bool(1), float64(2), int64(2), object(10)
memory usage: 1.6+ MB

In [4]:
#Completamos los valores vacíos de la columna precio_noche con la media:
media_precio_noche = df_limpieza["precio_noche"].mean()
df_limpieza["precio_noche"].fillna(media_precio_noche, inplace=True)
df_limpieza.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15098 entries, 0 to 15097
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_reserva       15098 non-null  object
 1   id_cliente       15098 non-null  object
 2   nombre           15098 non-null  object
 3   apellido         15098 non-null  object
 4   mail             15098 non-null  object
 5   competencia      15098 non-null  bool
 6   inicio_estancia  15098 non-null  object
 7   final_estancia   15098 non-null  object
 8   id_hotel         15098 non-null  int64
 9   ciudad           15098 non-null  object
 10  id               15098 non-null  int64
 11  nombre_hotel     15098 non-null  object
 12  valoracion       15098 non-null  float64
 13  precio_noche     15098 non-null  float64
 14  fecha_reserva    15098 non-null  object
dtypes: bool(1), float64(2), int64(2), object(10)
memory usage: 1.6+ MB

/var/folders/_s/kc_rj_092690fgthyqft8hk40000gn/T/ipykernel_2213/822453100.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_limpieza["precio_noche"].fillna(media_precio_noche, inplace=True)

In [9]:
#En la columna id_hotel hacemos un alista de 1 a n para cada nombre_hotel único:
df_limpieza["id_hotel"] = df_limpieza.groupby("nombre_hotel").ngroup()
df_limpieza["id_hotel"] = df_limpieza["id_hotel"] + 1
df_limpieza["id_hotel"].nunique()

29

In [18]:
#En la columna id_cliente hacemos un seriado de 1 a n por cada mail de la columna mail:
df_limpieza["id_cliente"] = df_limpieza.groupby("mail").ngroup()
df_limpieza["id_cliente"] = df_limpieza["id_cliente"] + 1
df_limpieza["id_cliente"].nunique()

14905

In [19]:
df_limpieza.head(
)

,id_reserva,id_cliente,nombre,apellido,mail,competencia,inicio_estancia,final_estancia,id_hotel,ciudad,id,nombre_hotel,valoracion,precio_noche,fecha_reserva,id_ciudad
0,1,5311,Feliciana,Cantón,feliciana.cantón@example.com,True,2025-03-01,2025-03-02,27,Madrid,1,ibis budget Madrid Centro Lavapies,4.3,106.0,2025-02-19,1
1,2,8310,Leonardo,Hierro,leonardo.hierro@example.com,True,2025-03-01,2025-03-02,23,Madrid,2,ibis Styles Madrid Centro Maravillas,4.7,114.0,2025-02-19,1
2,3,8047,Judith,Rivas,judith.rivas@example.com,True,2025-03-01,2025-03-02,25,Madrid,8,ibis budget Madrid Calle 30,4.4,79.0,2025-02-19,1
3,4,204,Adolfo,Cuervo,adolfo.cuervo@example.com,True,2025-03-01,2025-03-02,21,Madrid,10,ibis Madrid Centro las Ventas,4.5,90.0,2025-02-19,1
4,5,9762,María Carmen,Navarro,maría carmen.navarro@example.com,True,2025-03-01,2025-03-02,28,Madrid,12,ibis budget Madrid Centro las Ventas,4.3,75.0,2025-02-19,1

In [20]:
#Por último, hacemos una lista de 1 a n por cada reserva en la columna id_reserva:
df_limpieza["id_reserva"] = df_limpieza.index + 1
df_limpieza.head()

,id_reserva,id_cliente,nombre,apellido,mail,competencia,inicio_estancia,final_estancia,id_hotel,ciudad,id,nombre_hotel,valoracion,precio_noche,fecha_reserva,id_ciudad
0,1,5311,Feliciana,Cantón,feliciana.cantón@example.com,True,2025-03-01,2025-03-02,27,Madrid,1,ibis budget Madrid Centro Lavapies,4.3,106.0,2025-02-19,1
1,2,8310,Leonardo,Hierro,leonardo.hierro@example.com,True,2025-03-01,2025-03-02,23,Madrid,2,ibis Styles Madrid Centro Maravillas,4.7,114.0,2025-02-19,1
2,3,8047,Judith,Rivas,judith.rivas@example.com,True,2025-03-01,2025-03-02,25,Madrid,8,ibis budget Madrid Calle 30,4.4,79.0,2025-02-19,1
3,4,204,Adolfo,Cuervo,adolfo.cuervo@example.com,True,2025-03-01,2025-03-02,21,Madrid,10,ibis Madrid Centro las Ventas,4.5,90.0,2025-02-19,1
4,5,9762,María Carmen,Navarro,maría carmen.navarro@example.com,True,2025-03-01,2025-03-02,28,Madrid,12,ibis budget Madrid Centro las Ventas,4.3,75.0,2025-02-19,1

In [21]:
#Añadimos una columna con id_ciudad para cada ciudad única:
df_limpieza["id_ciudad"] = df_limpieza.groupby("ciudad").ngroup()
df_limpieza["id_ciudad"] = df_limpieza["id_ciudad"] + 1
df_limpieza["id_ciudad"].nunique()

1

In [22]:
df_limpieza.head()

,id_reserva,id_cliente,nombre,apellido,mail,competencia,inicio_estancia,final_estancia,id_hotel,ciudad,id,nombre_hotel,valoracion,precio_noche,fecha_reserva,id_ciudad
0,1,5311,Feliciana,Cantón,feliciana.cantón@example.com,True,2025-03-01,2025-03-02,27,Madrid,1,ibis budget Madrid Centro Lavapies,4.3,106.0,2025-02-19,1
1,2,8310,Leonardo,Hierro,leonardo.hierro@example.com,True,2025-03-01,2025-03-02,23,Madrid,2,ibis Styles Madrid Centro Maravillas,4.7,114.0,2025-02-19,1
2,3,8047,Judith,Rivas,judith.rivas@example.com,True,2025-03-01,2025-03-02,25,Madrid,8,ibis budget Madrid Calle 30,4.4,79.0,2025-02-19,1
3,4,204,Adolfo,Cuervo,adolfo.cuervo@example.com,True,2025-03-01,2025-03-02,21,Madrid,10,ibis Madrid Centro las Ventas,4.5,90.0,2025-02-19,1
4,5,9762,María Carmen,Navarro,maría carmen.navarro@example.com,True,2025-03-01,2025-03-02,28,Madrid,12,ibis budget Madrid Centro las Ventas,4.3,75.0,2025-02-19,1

In [23]:
#guardamos el df:
df_limpieza.to_csv("../data/limpieza_reservas_hoteles.csv", index=False)